.GenerateKeystoreFilePanel {
  &-fieldset {
    margin-bottom: 15px;

    &-label {
      margin-bottom: 18px;
    }
  }
  &-button {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 15px;
  }
  &-bottom {
    text-align: center;

    a {
      color: #1eb8e7;
    }
  }
}
