.ContentPanel {
  @media (min-width: 700px) {
    max-width: 560px;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 30px;

    @media (min-width: 700px) {
      padding: 0;
    }
    &.ContentPanel-stepperOnly {
      justify-content: flex-end;
    }
    &-back {
      color: #007a99;
      font-weight: bold;

      img {
        margin-right: 13px;
      }
    }
  }
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #303030;
    font-size: 25px;
    font-weight: bold;

    &-icon {
      width: 45px;
      height: 45px;
    }
  }
  &-description {
    margin: 0;
    margin-bottom: 15px;
  }
}
