.ContentPanel {
  max-width: 560px;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &-back {
      color: #007a99;
      font-weight: bold;

      img {
        margin-right: 13px;
      }
    }
  }
  &-heading {
    margin-bottom: 20px;
    color: #303030;
    font-size: 25px;
    font-weight: bold;
  }
}
