.ContentPanel {
  max-width: 560px;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    &-back {
      color: #007a99;
      font-weight: bold;

      img {
        margin-right: 13px;
      }
    }
  }
}
