.Layout {
  &-content {
    padding: 100px 30px 50px 30px;

    @media (min-width: 700px) {
      padding: 50px 80px;

      &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
