.Stepper {
  display: flex;
  align-items: center;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: #007a99;
    border-radius: 50%;

    &-activeStep {
      width: 6px;
      height: 6px;
      background: #fff;
      border-radius: 50%;
    }
  }
  &-step {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background: #007a99;
    border-radius: 50%;
  }
}
