@import 'common/sass/variables';

.TogglablePassword {
  &-toggle {
    cursor: pointer;
    color: shade-dark(0.4);
    transition: $transition;

    &:hover {
      color: shade-dark(0.7);
    }
  }
}
