.ParitySignerUnlock {
    &-badge {
        display: inline-block;
        height: 3em;
        margin: 0 0.4em;
    }

    &-qr-bounds {
        width: 300px;
        height: 300px;
        display: inline-block;
        margin-bottom: 1.5em;
    }
}
