// Overrides Bootstrap type defaults
@import 'sass/variables';
@import 'sass/mixins';

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: 0.02em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: $space;
  margin-bottom: $space-sm;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: $space;
  margin-bottom: $space-sm;
}

h1,
.h1 {
  font-weight: 300;
}
h2,
.h2 {
  font-weight: 300;
}
h3,
.h3 {
  font-weight: 700;
}
h4,
.h4 {
  font-weight: 700;
}
h5,
.h5 {
  font-weight: 400;
}
h6,
.h6 {
  font-weight: 400;
}

// Text
p {
  margin: 0 0 $space-sm;
  font-weight: 400;
  strong,
  .strong,
  &.strong {
    font-weight: 400;
  }
}

i {
  font-style: normal;
}

strong,
.strong {
  font-weight: 600;
}

.point {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-light {
  font-weight: 300;
}

// Page Header
.page-header {
  padding-bottom: $space-sm - 1;
}

// Lists
li {
  margin-bottom: 0.5em;
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.list-inline {
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Blockquotes
blockquote {
  padding: $space-sm #{$line-height-computed}rem;
}

// Color text
.text-primary {
  color: color(brand-primary);
}
.text-info {
  color: color(brand-info);
}
.text-success {
  color: color(brand-success);
}
.text-warning {
  color: color(brand-warning);
}
.text-danger {
  color: color(brand-danger);
}
