.LedgerDecrypt {
  text-align: center;
  padding-top: 30px;

  &-decrypt {
    width: 100%;
  }

  &-help {
    margin-top: 10px;
    font-size: 13px;
  }

  &-error {
    opacity: 0;
    transition: none;

    &.is-showing {
      opacity: 1;
    }
  }

  &-buy {
    margin-top: 10px;
  }

  &-message {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 16px;
    }
  }
}
