@import 'common/sass/variables';
@import 'common/sass/mixins';

@mixin decrypt-title {
  text-align: center;
  line-height: 1;
  margin: 5px 0 30px;
  font-weight: normal;
}

.WalletDecrypt {
  &-wallets {
    &-title {
      @include decrypt-title;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }


      &:last-child {
        margin: 0;
      }
    }
  }

  &-decrypt {
    position: relative;
    text-align: center;

    &-back {
      @include reset-button;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      &:hover,
      &:focus {
        opacity: 0.9;
      }

      &:active {
        transform: translateY(1px);
        outline: none;
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-form {
      max-width: 360px;
      margin: 0 auto;
    }
  }
}
