@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 500ms;

@keyframes decrypt-enter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.WalletDecrypt {
  position: relative;

  &-header {
    margin-bottom: 1.5rem;
  }

  &-wallets {
    &-title {
      text-align: center;
      font-size: 24px;
      line-height: 1;
      margin: 0;
      font-weight: normal;
      animation: decrypt-enter $speed ease 1;
    }
    &-desc {
      text-align: center;
      font-size: 16px;
      line-height: 1;
      margin: 0;
      margin-top: 0.5rem;
      font-weight: 400;
      animation: decrypt-enter $speed ease 1;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      font-weight: 300;
      margin-top: 1rem;
    }
  }

  &-decrypt {
    position: relative;

    &-title {
      text-align: center;
      font-size: 24px;
      line-height: 1;
      margin: 0;
      font-weight: normal;
      animation: decrypt-enter $speed ease 1;
    }
    &-desc {
      text-align: center;
      font-size: 16px;
      line-height: 1;
      margin: 0;
      margin-top: 0.5rem;
      font-weight: 400;
      animation: decrypt-enter $speed ease 1;
    }

    &-back {
      @include reset-button;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      @media (max-width: $screen-md) {
        top: auto;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-form {
      margin: 0 auto;
      width: 516px;
    }
    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// Animation between two slides
.DecryptContent {
  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}
