@import 'common/sass/variables';

.FeeSummary {
  background: $gray-lighter;
  height: 42px;
  line-height: 42px;
  padding: 0 12px;
  font-family: $font-family-monospace;
  text-align: center;
  font-size: 14px;
}
