@import 'common/sass/variables';

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin heading {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: color(white-base);
}

@mixin text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  color: color(footer-text);
}

@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

$spacing-sm: 7px;
$spacing-md: 15px;
$spacing-lg: 57px;
$input-height: 40px;
$input-border-radius: 3px;

.visible {
  visibility: visible !important;
}

.DonationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
  height: 32px;
  box-shadow: 0 1px 1px 0 color(donation-button-shadow), inset 0 1px 3px 0 color(donation-button-shadow);
  background-color: color(donation-button-bg);
  border: 1px solid color(donation-button-border);
  border-radius: 6px;
  color: color(white-base);

  &:not(:last-of-type) {
    margin-bottom: $spacing-md;

    @media (min-width: 1050px) {
      margin-bottom: 0;
    }
  }
  span {
    display: flex;
    align-items: center;
  }
  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  @media (min-width: 800px) {
    margin-right: $spacing-md;
  }
}

.Donate {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;

  h2 {
    @include heading;
    @include no-margin-padding;

    margin-bottom: $spacing-sm;
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-message {
      @include text;
      @include no-margin-padding;

      margin-top: $spacing-md;
      visibility: hidden;

      .check {
        width: 14px;
        height: 14px;
        margin-right: $spacing-sm;
        font-size: 14px;
        color: color(donate-button-check);
      }

      @media (min-width: 800px) {
        margin-top: 0;
      }
      @media (min-width: 1050px) {
        margin-top: 10px;
      }
    }

    @media (min-width: 800px) {
      flex-direction: row;
      align-items: flex-start;
    }
    @media (min-width: 1050px) {
    }
  }

  @media (min-width: 800px) {
    margin-bottom: 0;
    text-align: left;
  }
}

.Subscribe {
  text-align: center;

  h2 {
    @include heading;
    @include no-margin-padding;

    margin-bottom: 5px;
  }
  p {
    @include text;

    margin-bottom: 10px;
  }
  &-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &-input {
      min-width: 0;

      input {
        height: $input-height;
        padding: $spacing-sm;
        background: color(subscribe-input-bg);
        border: 1px solid color(subscribe-input-border);
        border-radius: $input-border-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        color: color(white-base);
      }
    }
    &-button {
      button {
        height: $input-height;
        background: color(subscribe-button-bg);
        border: none;
        border-radius: $input-border-radius;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: color(white-base);
      }
    }

    @media (min-width: 800px) {
      justify-content: flex-start;
    }
  }

  @media (min-width: 800px) {
    padding-left: 20px;
    text-align: left;
  }
  @media (min-width: 1050px) {
    margin-top: 20px;
    padding-left: 0px;
  }
}

.DonateAndSubscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 800px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  @media (min-width: 1050px) {
    flex: 1;
    flex-direction: column;
  }
}
