@import 'common/sass/variables';

@mixin logo-text {
  font-family: Lato;
  font-size: 10px;
  color: color(white-clear);
}

@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin heading {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: color(white-clear);
}

$logo-text-width: 375px;
$spacing-md: 15px;
$spacing-sm: 7px;

.LogoBox {
  text-align: center;

  &-title {
    @include perfectly-centered;
    margin-bottom: $spacing-md;

    h2 {
      @include heading;
      @include no-margin-padding;

      margin-bottom: $spacing-sm;
    }

    &-toggle {
      display: none;

      @media (min-width: 800px) {
        display: block;
      }
    }

    @media (min-width: 800px) {
      justify-content: space-between;
    }
  }
  &-text {
    @include perfectly-centered;

    margin-bottom: $spacing-md;

    p {
      @include logo-text;

      max-width: $logo-text-width;
    }

    @media (min-width: 800px) {
      justify-content: flex-start;
    }
  }
  &-toggle {
    @media (min-width: 800px) {
      display: none;
    }
  }
  &-socials-legal {
    display: none;
    min-width: 260px;

    @media (min-width: 800px) {
      display: block;
    }
  }

  @media (min-width: 800px) {
    flex: 1;
    min-width: 240px;
    text-align: left;
  }
}
