@mixin logo-text {
  font-family: Lato;
  font-size: 10px;
  color: #fff;
}

@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

$logo-text-width: 375px;
$spacing-md: 15px;

.LogoBox {
  text-align: center;

  &-image {
    @include perfectly-centered;
    margin-bottom: $spacing-md;

    img {
      width: 152px;
      height: 38px;
    }
    &-toggle {
      display: none;

      @media (min-width: 800px) {
        display: block;
      }
    }

    @media (min-width: 800px) {
      justify-content: space-between;
    }
  }
  &-text {
    @include perfectly-centered;

    margin-bottom: $spacing-md;

    p {
      @include logo-text;

      width: $logo-text-width;
    }

    @media (min-width: 800px) {
      justify-content: flex-start;
    }
  }
  &-toggle {
    @media (min-width: 800px) {
      display: none;
    }
  }
  &-socials-legal {
    display: none;

    @media (min-width: 800px) {
      display: block;
    }
  }

  @media (min-width: 800px) {
    text-align: left;
  }
}
