@mixin text {
  font-family: Lato;
  font-size: 10px;
  color: #fff;
}

$spacing-md: 15px;

.Socials {
  margin-bottom: $spacing-md;
  text-align: center;

  @media (min-width: 800px) {
    text-align: left;
  }
}

.Legal {
  @include text;

  display: flex;
  align-items: center;
  justify-content: space-around;

  p:not(:last-of-type) {
    @media (min-width: 800px) {
      margin-right: $spacing-md;
    }
  }

  @media (min-width: 800px) {
    justify-content: flex-start;
  }
}

.SocialsAndLegal {
}
