@mixin text {
  font-family: Lato;
  font-size: 10px;
  color: #fff;
}

$spacing-md: 15px;

.Socials {
  margin-bottom: $spacing-md;
  text-align: center;
}

.Legal {
  @include text;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.SocialsAndLegal {
}
