@import 'common/sass/variables';

.NetworkStatus {
  display: flex;
  align-items: center;

  &-icon {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 100%;

    &.is-online {
      background: color(brand-success);
    }

    &.is-offline {
      background: color(brand-danger);
    }

    &.is-connecting {
      background: color(brand-warning);
    }
  }

  &-text {
    color: shade-dark(0.4);
    font-size: 9px;
  }
}
