@import 'common/sass/variables';
@import 'common/sass/mixins';

.NodeSelect {
  &-node {
    @include reset-button;
    display: block;
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    color: color(text-color);
    border-bottom: 1px solid color(gray-lighter);
    border-left: 4px solid;
    text-align: left;
    @include ellipsis;

    &:hover {
      color: color(link-hover-color);
    }

    &.is-active {
      color: color(link-color);
      background: color(gray-lightest);
    }

    small {
      font-size: 12px;
    }
  }
}
