@import 'common/sass/variables';
@import 'common/sass/mixins';

$width: 40px;
$default-opacity: 0.4;

@keyframes send-everything-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: $default-opacity;
  }
}

.SendEverything {
  @include reset-button;
  display: block;
  position: relative;
  margin-left: -$width;
  font-size: 0.875rem;
  color: #4295bc;

  &:disabled {
    display: none;
  }
}
