@import 'common/sass/variables';
@import 'common/sass/variables/spacing';
@import 'common/sass/variables/colors';

.AddressInput {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &-input {
    position: relative;
    flex-grow: 1;
  }

  &-identicon {
    padding-top: $space-md;
    transform: translateX(20%);

    @media (max-width: $screen-sm) {
      padding-top: 1.5rem;

      .Identicon {
        width: 3.4rem !important;
        height: 3.4rem !important;
      }
    }

    @media (max-width: 380px) {
      display: none;
    }
  }

  &-label {
    color: darken($brand-success, 15%);
  }
}
