@import 'common/sass/variables';
@import 'common/sass/variables/colors';
@import 'common/sass/variables/spacing';

.AddressFieldDropdown {
  position: absolute;
  top: calc(100% - #{$space});
  width: 100%;
  border: 1px solid $gray-lighter;
  border-top: none;
  background: $component-active-color;
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: $tab-box-shadow;

  &-dropdown-item {
    margin: 0;
    padding: $space-md $space;
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
      background: $gray-lightest;
    }

    &-label {
      width: $space-xl * 6;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .Identicon {
      margin-right: $space-md;
    }

    &--active {
      background: $gray-lighter;
    }
  }
}
