@import 'common/sass/mixins.scss';
@import 'common/sass/variables.scss';

.HardwareWalletChoice {
  display: flex;
  border: 1px solid $light-gray;

  &-image {
    display: none;
  }
  &-text {
    @include perfectly-centered;

    flex: 3;
    padding: 0.5rem;

    p {
      margin: 0;
      font-size: 16px;
    }
  }

  @media (min-height: 350px) {
    padding: 0.5rem;

    &-image {
      flex: 1;
      display: block;
    }
  }
  @media (min-width: 600px) and (max-width: 730px) {
    &-image {
      width: 79px;
      height: 70px;
    }
  }
  @media (min-width: 450px) {
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }
}
