@import 'common/sass/mixins.scss';
@import 'common/sass/variables.scss';

.HardwareWalletChoice {
  position: relative;
  display: flex;
  border: 1px solid $light-gray;

  &-image {
    display: none;
  }
  &-text {
    @include perfectly-centered;

    flex: 3;
    padding: 0.5rem;

    p {
      margin: 0;
      font-size: 16px;
      color: $light-gray;
    }
  }

  @media (min-height: 350px) {
    padding: 0.5rem;

    &-image {
      flex: 1;
      display: block;
    }
  }
  @media (min-width: 450px) and (min-height: 780px) {
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    &-image {
      margin-bottom: 2rem;
    }
    &-text {
      position: absolute;
      bottom: 0;
    }
  }
}
