@import 'common/sass/variables.scss';

.ProgressDots {
  display: flex;
  align-items: center;

  &-dot {
    width: 8px;
    height: 8px;
    margin: 0 0.5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;

    &--active {
      width: 12px;
      height: 12px;
      background: $baby-blue;
      border: 3px solid #fff;
    }
  }
}
