.DevToolsAccount {
  position: absolute;
  bottom: 0;
  left: 0;
  height: '5rem';
  width: 275px;
  z-Index: 99;
  padding: 1px 6px;
  background-color: #dddddd;
  border-width: 2px;
  border-style: outset;
  border-color: #333333;
  border-image: initial;
  box-sizing: border-box;
  &-wrapper {
    position: center;
  }
}