.DashboardPanel {
  padding: 15px;

  &-headingWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &-heading {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      color: #424242;
    }
    &-button {
      padding: 9px 16px;
      font-size: 18px;
    }
  }
}
