.TokenList {
  max-height: 320px;
  overflow-y: auto;

  @media (min-width: 1080px) {
    margin-right: 21px;
  }
  &-tokens {
    display: flex;
    flex-direction: column;

    &-token {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px 0;

      &-asset {
        display: flex;
        align-items: center;

        &-name {
          margin: 0;
          margin-left: 30px;
        }
      }
      &-value {
        display: flex;
        align-items: center;

        &-amount {
          margin: 0;
          margin-right: 10px;
        }
      }
    }
  }
}
