.WalletBreakdown {
  &-selectWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    @media (min-width: 1080px) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    &-select {
      width: 100%;
      max-width: 480px;
    }
  }
  &-panel {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 15px;

    @media (min-width: 1080px) {
      flex-direction: row;
      margin-top: 0;

      > div {
        flex: 1;
      }
    }
    &-headingWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-heading {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #424242;

      @media (min-width: 1080px) {
        font-size: 24px;
      }
      &-extra {
        display: inline;

        @media (min-width: 1080px) {
          display: none;
        }
      }
    }
    &-more {
      display: block;
    }
    &-figures {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 30px 0;

      &-figure {
        &-value {
          margin: 0;
          font-size: 18px;
          font-weight: bold;
        }
        &-label {
          margin: 0;
          font-size: 16px;
        }
      }
    }
    &-divider {
      height: 1px;
      margin-bottom: 15px;
      background: #ddd;

      &.mobile-only {
        display: block;

        @media (min-width: 1080px) {
          display: none;
        }
      }
    }
    &-balances {
      display: flex;
      flex-direction: column;
      color: #282d32;
      font-size: 16px;

      &-balance {
        display: flex;
        justify-content: space-between;
        margin: 11px 0;

        &:first-of-type {
          margin-top: 16px;
        }
        &-asset {
          &-name {
            margin: 0;
          }
          &-amount {
            margin: 0;

            a {
              color: #1eb8e7;
            }
          }
        }
      }
      &-total {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
