@import 'common/sass/variables';
@import 'common/sass/mixins';

.AccountInfo {
  &-section {
    margin-top: $space * 1.5;

    &:first-child {
      margin-top: 0;
    }

    &-header {
      margin-top: 0;
    }
  }

  &-address,
  &-list {
    padding-left: $space;
  }

  &-address {
    @include clearfix;

    &-section {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &-wrapper {
      max-width: calc(100% - 44px - 24px);
    }

    &-icon {
      width: 44px;
      height: 44px;
      margin-right: $space-md;
    }

    &-addr {
      word-wrap: break-word;
      @include mono;
    }

    &-confirm {
      display: flex;
      align-items: center;
      .Spinner {
        margin-right: 16px;
      }
    }
  }

  &-list {
    &-item {
      margin-bottom: 0;
      list-style-type: none;
      word-break: break-all;

      &-clickable:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.account-info {
  padding-left: 1em;
  margin: 0;
  table {
    font-weight: 300;
    border-bottom: 0;
    min-width: 200px;
    td {
      padding: 4px 5px;
      line-height: 1;
    }
    td:first-child {
      max-width: 115px;
      word-wrap: break-word;
      padding-left: 1em;
    }
    tr:nth-last-child(2),
    tr:last-child {
      background-color: white !important;
    }
  }
}
