@import 'common/sass/variables';
@import 'common/sass/mixins';

.AccountInfo {
  &-copy {
    display: inline-block;
    cursor: pointer;
    color: $text-color;
    font-size: $font-size-xs;
    opacity: 0.5;
    transition: $transition;

    &:hover {
      opacity: 1;
    }

    &.is-copied {
      color: $brand-success;
      opacity: 1;
    }

    .fa {
      margin-right: $space-xs;
    }
  }

  &-label {
    display: inline-block;
    cursor: pointer;
    color: $text-color;
    font-size: $font-size-xs;
    opacity: 0.5;

    .fa {
      margin: 0 $space-xs 0 $space-sm;
    }
  }

  &-section {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &.address {
      margin-bottom: 4px;
    }

    &.actions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    &-header {
      color: #9a9a9a;
      font-weight: 400;
      font-size: 0.875rem;
      margin-top: 0;
      display: inline-block;
      &-wrapper {
        > button {
          @include reset-button;
          color: #a9adb2;
          margin-left: 0.5rem;
        }
      }
    }

    &-refresh {
      background: transparent;
      border: none;
      padding: 0;
      height: 1.4rem;
      width: 1.2rem;
      opacity: 0.3;
      transition: opacity 0.3s;
      > img {
        height: inherit;
        width: inherit;
        vertical-align: top;
      }
      &:hover {
        opacity: 0.54;
      }
      &:active {
        transition: opacity 120ms;
        opacity: 1;
      }
    }
  }

  &-address,
  &-list {
    padding-left: 0;
  }

  &-address {
    @include clearfix;

    &-section {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
    }

    &-wrapper {
      max-width: calc(100% - 16px - 24px);

      &.no-identicon {
        max-width: calc(100% - 24px);
      }
      &-error {
        color: $brand-danger;
        margin-bottom: $space-md;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 1rem;
    }

    &-hw-addr {
      font-size: 0.8125rem;
      text-transform: lowercase;
    }

    &-confirm {
      font-size: 0.8125rem;
      text-transform: lowercase;
    }

    &-addr {
      font-size: 1rem;
      word-wrap: break-word;
      padding: 4px 8px;
      border-radius: 3px;
      border: 1px solid transparent;
      margin: 0 -8px;
      transition: background-color 150ms ease, transform 150ms ease, box-shadow 150ms ease,
        border 150ms ease;

      &:hover {
        background-color: #fafbfc;
        border: solid 1px rgba(16, 151, 192, 0.3);
        box-shadow: 0 1px 1px 0 rgba(232, 234, 237, 0.5), 0 2px 4px 0 rgba(232, 234, 237, 0.5);
      }

      &--small {
        font-size: 0.8rem;
      }
    }

    &-confirm {
      display: flex;
      align-items: center;
      .Spinner {
        margin-right: 16px;
      }
    }

    &-label {
      font-weight: bolder;
      font-size: 1.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }

  &-balance {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;

    > span > span > span {
      margin-left: 0.5rem;
    }

    &-amount {
      margin-right: $space-sm;
    }
  }

  &-list {
    margin-bottom: 0;
    &-item {
      margin-bottom: 0;
      list-style-type: none;
      word-break: break-all;

      &-clickable {
        &:hover {
          cursor: pointer;
          border-bottom: 1px solid #000;
          line-height: 1;
        }
      }
    }
  }
}

.account-info {
  padding-left: 1em;
  margin: 0;
  table {
    font-weight: 300;
    border-bottom: 0;
    min-width: 200px;
    td {
      padding: 4px 5px;
      line-height: 1;
    }
    td:first-child {
      max-width: 115px;
      word-wrap: break-word;
      padding-left: 1em;
    }
    tr:nth-last-child(2),
    tr:last-child {
      background-color: white !important;
    }
  }
}
