@import 'common/sass/variables';
@import 'common/sass/mixins';

.EquivalentValues {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: $space;

    .Select {
      flex-grow: 1;
    }
  }

  .Spinner {
    display: block;
    margin: auto;
  }

  &-title {
    margin: 0;
    margin-right: 16px;
  }

  &-values {
    display: flex;
    flex-wrap: wrap;
    &-currency {
      width: 50%;
      margin-bottom: $space-xs;
      &-label {
        white-space: pre-wrap;
        display: inline-block;
        min-width: 36px;
        opacity: 0.54;
        margin-right: 8px;
      }
      &-value {
        font-weight: 600;
        @include mono;
      }
    }
  }

  &-offline {
    margin-bottom: 0;
    text-align: center;
  }
}
