// Where shared common styles live

// --- BOOTSTRAP ---
@import './variables';
@import './mixins';

// --- RC SLIDER ---
@import '~rc-slider/assets/index.css';

// --- CUSTOM ---
@import './styles/badbrowser';
@import './styles/noscript';
@import './styles/overrides';
@import './styles/scaffolding';
@import './styles/tab';
@import './styles/flexbox';
@import './styles/helpers';
@import './styles/code';
@import './styles/buttons';
@import './styles/forms';
@import './styles/alerts';
@import './styles/themes';
@import './fonts';
@import './styles/react-datetime';

/* suppress focus ring on form controls for mouse users */
// 'what-input' package / https://github.com/ten1seven/what-input#basic-styling
[data-whatintent='mouse'] *:focus {
  outline: none;
}

// This is fine because the outline effect is reproduced with border and box-shadow styles on input elements
input {
  outline: none;
}

body {
  margin: 0;
}
