.AnalyticsNotice-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 155px;
  background: #313131;
  border-top: 1px solid #3e546d;
  color: #fff;
}

.AnalyticsNotice {
  display: flex;
  flex-direction: column;
  min-width: 380px;
  max-width: 1400px;
  padding: 18px;

  &-inner-wrapper {
    display: flex;
    margin-bottom: 1rem;
  }
  &-image {
    flex: 1;
    position: relative;

    img {
      position: relative;
      width: 101px;
      height: 108px;
      max-width: initial;

      @media (min-width: 768px) {
        position: absolute;
        top: -2rem;
        width: 161px;
        height: 168px;
      }
      @media (min-width: 1100px) {
        top: initial;
        bottom: 0.3rem;
      }
    }

    @media (min-width: 768px) {
      flex: 0 0 160px;
    }
  }
  &-text {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 0 5px;

    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;

      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
    p {
      margin: 0;
      font-size: 12px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    @media (min-width: 768px) {
      flex: 6;
      margin-bottom: 0;
      padding: 14px 23px 0 14px;
    }
  }
  &-controls {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-levels {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      label {
        display: flex;
        align-items: center;
        margin: 0;

        input {
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 5px;
        }

        @media (min-width: 768px) {
          &:first-of-type {
            margin-top: 12px;
          }

          margin-bottom: 12px;
        }
        @media (min-width: 1100px) {
          &:first-of-type {
            margin-top: 0;
          }

          margin-bottom: 0;
        }
      }
      a {
        color: #1eb8e7;
      }

      @media (min-width: 768px) {
        flex-direction: column;
      }
      @media (min-width: 1100px) {
        flex-direction: row;
      }
    }

    @media (min-width: 768px) {
      padding-left: 48px;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 0 23px 23px 23px;
  }
}

.only-mobile {
  display: initial;

  @media (min-width: 768px) {
    display: none;
  }
}

.only-desktop {
  display: none;

  @media (min-width: 768px) {
    display: initial;
  }
}
