.AddToAddressBook {
  padding: 24px 30px;

  &-back {
    margin-right: 16px;
  }
  &-form {
    margin-bottom: 45px;

    &-fieldset {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 9px;
        color: #163150;
      }
      input,
      textarea {
        display: block;
        width: 100%;
      }
    }
  }
  &-buttons {
    button {
      height: 50px;

      &:first-of-type {
        margin-right: 12px;
      }
    }
  }
}
