@import "./variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@mixin bg-gradient {
  background: $ether-navy;
  background: linear-gradient(149deg, #132a45, #143a56, #21a4ce, #19b4ad);
}

@mixin reset-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin mono {
  font-family: $font-family-monospace;
  font-weight: normal;
  letter-spacing: .02em;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
