@import "./variables";

@mixin bg-gradient {
  background: $ether-navy;
  background: linear-gradient(149deg, #132a45, #143a56, #21a4ce, #19b4ad);
}

@mixin reset-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
