// Form overrides
@import 'common/sass/variables';

label {
  margin-top: $space-sm;
  margin-bottom: $space-xs;
  font-size: $font-size-bump-more;
}

label + .form-control,
label + input,
label + textarea {
  margin-top: 0;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 3px 0 0;
  line-height: normal;
}

input[readonly] {
  background-color: #fafafa;
  cursor: text !important;
}

.form-control {
  margin-top: $space-sm;
  margin-bottom: $space-sm;
  transition: $transition;

  &:focus {
    border-color: $input-border-focus;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 2px fadeout($brand-primary, 50%);
  }
}

.form-group {
  display: block;
  margin-top: $form-group-margin-bottom;
  margin-bottom: $form-group-margin-bottom;
}

.radio,
.checkbox {
  margin: 15px 0;
  font-weight: 500;
}

// Custom feedback classes
.form-control {
  &.is-valid {
    border-color: lighten($brand-success, 25%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 1px rgba($brand-success, 0.5);
    &:focus {
      border-color: lighten($brand-success, 15%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 3px rgba($brand-success, 0.5);
    }
  }

  &.is-invalid {
    border-color: lighten($brand-danger, 25%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 1px rgba($brand-danger, 0.5);
    &:focus {
      border-color: lighten($brand-danger, 15%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 3px rgba($brand-danger, 0.5);
    }
  }

  &.is-semivalid {
    border-color: lighten($brand-warning, 25%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 1px rgba($brand-warning, 0.5);
    &:focus {
      border-color: lighten($brand-warning, 15%);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 3px rgba($brand-warning, 0.5);
    }
  }
}
