// Input groups overrides
@import 'common/sass/variables';

.input-group {
  display: flex;
  margin-bottom: 8px;

  > * {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
  }

  .btn {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .dropdown-toggle {
    padding-left: $space-md;
    padding-right: $space-md;
  }
}

// Align with inputs
.input-group-addon {
  padding: 0 $padding-base-horizontal;
}

.input-group-btn {
  width: auto;
}
