// Input groups overrides
@import "common/sass/variables";

.input-group {
  > * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .dropdown-toggle {
    padding-left: $space-md;
    padding-right: $space-md;
  }
}

// Align with inputs
.input-group-addon {
  padding: 0 $padding-base-horizontal;
}

.input-group-btn {
  .btn {
    margin-bottom: 0;
    margin-top: 0;
    font-size: $font-size-base;
    padding: .5rem $space-xl;
  }

  // Fix for nested dropdown button
  &:not(:first-child) > .dropdown > .btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child) > .dropdown > .btn {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
