// Input groups overrides
@import 'sass/variables';

label {
  font-weight: normal;
}

.input-group {
  > * {
    margin-bottom: 0;
    margin-top: 0;
  }

  .dropdown-toggle {
    padding-left: $space-md;
    padding-right: $space-md;
  }
}

// Align with inputs
.input-group-addon {
  width: auto;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border-left: none;

  &--transparent {
    background-color: transparent;
    border: none;
  }
}

.input-group-btn {
  .btn {
    margin-bottom: 0;
    margin-top: 0;
    font-size: $font-size-base;
    padding: 0.5rem $space-xl;
  }

  // Fix for nested dropdown button
  &:not(:first-child) > .dropdown > .btn {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:last-child) > .dropdown > .btn {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
