@import 'common/sass/variables';

.rdt input {
  font-family: inherit;
}

.rdtPicker {
  td {
    &.rdtActive,
    &.rdtActive:hover {
      background-color: color(brand-primary);
    }
  }
  td.rdtToday::before {
    border-bottom: 7px solid color(brand-primary);
  }
}

.rdtCounter .rdtBtn,
.rdtNext,
.rdtPrev {
  color: color(brand-primary);
}
