@import 'common/sass/variables';
@import 'common/sass/mixins';

.Disclaimer {
  color: $text-color;

  &-button {
    @include reset-button;
    color: #FFF;

    &:hover {
      opacity: 0.8;
    }
  }
}
