.SurveyContainer {
  background-color: #1eb8e7;
  color: 'inherit';
  padding: 15px 20px 15px 10px;
  margin: 10px 0 10px 0;

  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  a {
    color: white;
    font-weight: 600;
    text-decoration: underline; 
  }  
}
