.ConfirmTransaction {
  &-row {
    display: flex;
    flex-direction: column;

    @media (min-width: 550px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 24px;
    }
    &-column {
      flex: 1;
      margin-right: 13px;
      margin-bottom: 24px;

      @media (min-width: 550px) {
        margin-bottom: 0;
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
  &-addressWrapper {
    margin-top: 10px;
    padding: 12px;
    background: #f8f8f8;
  }
  &-divider {
    height: 1px;
    margin-bottom: 20px;
    background: #e3edff;
  }
  &-button {
    width: 100%;
  }
}
