.Dashboard-mobile {
  background: #e8eaed;
  font-weight: 300;

  &-actions {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &-row {
      display: flex;
      margin-bottom: 15px;
    }
  }
  &-divider {
    height: 1px;
    width: 100%;
    background: #ddd;
  }
  &-group {
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }
  }
  &-walletBreakdown {
    padding-top: 15px;

    @media (min-width: 900px) {
      order: 1;
      flex: 2;
    }
  }
  &-tokenList {
    @media (min-width: 900px) {
      order: 0;
      flex: 1;
      margin-top: 15px;
    }
  }
}

.Dashboard-desktop {
  display: block;
  background: #e8eaed;
  font-weight: 300;
  width: 100%;
  &-top {
    display: flex;
    align-items: stretch;

    &-left {
      flex: 1;
      max-width: 400px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;

      &-heading {
        margin-top: 0;
        font-weight: bold;
        margin-bottom: 14px;
      }
      &-tokens {
        flex: 1;
        display: flex;
        max-height: 95vh;
      }
    }
    &-right {
      flex: 2;
      min-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;

      > div {
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  &-modifiedPanel {
    padding: 0;

    .DashboardPanel-headingWrapper {
      padding: 15px;
    }
  }
}
