// Button overrides
@import 'common/sass/variables';

.dropdown {
  .caret {
    margin-left: $space-sm;
  }
}

// If it's a span, we probably want it inline-block, not inline
span.dropdown {
  display: inline-block;
}

.dropdown-menu {
  padding: 0;
  border: none;
  background: color(control-bg);
  box-shadow: $dropdown-shadow;

  > li {
    margin: 0;

    &:first-child {
      padding-top: 4px;
    }

    &:last-child {
      padding-bottom: 4px;
    }

    > a {
      color: color(control-color);
      font-weight: 300;
      transition: none;

      &.active {
        color: color(link-color);
      }

      &:hover {
        background-color: color(brand-primary);
        color: color(text-color-inverted);
      }
    }
  }
}
