@import 'common/sass/variables';
@import 'common/sass/mixins';

.DWModal {
  &-path {
    margin-bottom: 20px;

    &-label {
      font-size: $font-size-medium;
      margin-right: 16px;
      line-height: $input-height-base;
    }

    .form-control {
      display: inline-block;
      width: auto;
      margin: 0 0 0 10px;
    }

    .Select {
      flex-grow: 1;
    }
  }

  &-addresses {
    overflow-y: scroll;
    &-table {
      width: 732px;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;

      &-token {
        width: 82px;
      }

      &-address {
        font-size: 13px;
        text-align: left;
        font-family: $font-family-monospace;

        input {
          margin-right: 6px;
        }
      }

      &-more {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('~assets/images/icon-external-link.svg');
      }

      tbody {
        tr {
          cursor: pointer;
        }

        td {
          vertical-align: middle;
        }
      }
    }

    &-nav {
      &-btn {
        display: inline-block;
        margin: 0;
        width: 49.9%;
        width: calc(50% - 5px);
        margin: 0 5px;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
