@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 500ms;
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.WalletWarning {
  max-width: 820px;
  margin: 0 auto;
  text-align: center;

  &-title {
    color: color(brand-danger);
    text-align: center;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    font-weight: normal;
    animation: enter $speed ease 1;
  }

  &-desc {
    text-align: center;
    font-size: 16px;
    max-width: 61ch;
    line-height: 1.6;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 400;
    animation: enter $speed ease 1;
  }

  &-btn {
    margin: auto !important;
    width: 100%;
    max-width: 308px;
    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

.AcknowledgeCheckbox {
  margin-bottom: $space-sm;

  &-checkbox[type='checkbox'] {
    display: inline-block;
    margin-right: $space-sm;
    margin-top: 0;
  }

  &-label {
    font-size: $font-size-bump-more;
    font-weight: normal;
  }
}
