@import 'common/sass/variables';
@import 'common/sass/mixins';

.MnemonicPasswordSaltWarning {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  transition: background-color 300ms ease;
  @include show-tooltip-on-hover;
}
