@import 'common/sass/variables';
@import 'common/sass/mixins';

.ViewOnly {
  & .AddressInput {
    margin-top: 15px;

    & .input-group-input {
      margin-top: 1rem;
    }
  }

  &-recent {
    text-align: left;

    &-separator {
      display: block;
      margin: $space-sm 0;
      text-align: center;
      color: shade-dark(0.3);
    }

    .Select {
      &-option {
        @include ellipsis;
      }

      .Identicon {
        display: inline-block;
        margin-right: $space-sm;
      }
    }
  }
}
