@import 'common/sass/mixins.scss';
@import 'common/sass/variables.scss';

.FourthSlide {
  @include perfectly-centered;
  @include slide-inner;

  &-content {
    &-heading {
      font-family: Lato, sans-serif;
      font-weight: 900;
      font-size: 17px;
      color: $heading-text-color;
    }
    &-text {
      font-size: 12px;
    }
    &-wallets {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  }
  @media (min-width: 450px) {
    &-content {
      &-wallets {
        flex-direction: row;
      }
    }
  }
  @media (min-width: 820px) {
    &-content {
      padding: 0 4rem;
    }
  }
  @media (min-height: 600px) {
    &-content {
      &-text {
        font-size: 14px;
      }
    }
  }
  @media (min-height: 770px) {
    &-content {
      &-heading {
        font-size: 20px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
  @media (min-width: 900px), (min-height: 1000px) {
    &-content {
      &-heading {
        font-size: 30px;
      }
      &-text {
        font-size: 18px;
      }
    }
  }
}
