@import 'common/sass/mixins.scss';

.SecondSlide {
  @include perfectly-centered;
  @include slide-inner;

  .vertical {
    display: block;
  }
  .horizontal {
    display: none;
  }
  &-content {
    &-heading {
      font-size: 22px;
      font-family: Lato, sans-serif;
      font-weight: 900;
      color: $heading-text-color;
    }
    &-text {
      font-size: 18px;
    }
    &-segment {
      &:first-of-type {
        margin-bottom: 2rem;
      }
    }
  }

  @media (min-width: 900px) {
    .vertical {
      display: none;
    }
    .horizontal {
      display: block;
    }
    &-content {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
  @media (min-height: 680px) {
    &-content {
      &-heading {
        font-size: 30px;
      }
    }
  }
}
