@import 'common/sass/variables/spacing';
@import 'common/sass/variables/colors';
@import 'common/sass/variables/typography';

.AddressLabel {
  font-family: $font-family-sans-serif;

  button {
    margin-bottom: $space-sm;
  }

  label {
    cursor: pointer;
  }

  &-button-label {
    padding-right: $space-sm;
  }
}
