@import 'common/sass/variables/colors';
@import 'common/sass/variables/spacing';

.AddressBookTable {
  input {
    margin-bottom: 0;
  }

  &-cell {
    display: flex;
    align-items: center;
    height: $space-xl * 2;

    &-identicon {
      width: 70px;
      margin-right: $space-md;
    }

    &-action {
      justify-content: flex-end;
    }
  }

  &-spacer {
    height: $space-lg;
  }

  &-row {
    td {
      padding: 0 $space-sm 0 0 !important;
    }

    .btn {
      height: $space-xl * 1.5;
      width: $space-xl * 1.75;
    }
  }
}
