@import 'common/sass/variables';
@import 'common/sass/mixins';

.Nonce {
  &-label {
    align-items: center;
    margin-bottom: $space-xs;
    &-text {
      margin-bottom: 0;
    }
  }
  &-field {
    position: relative;
  }

  &-refresh {
    @include reset-button;
    opacity: 0.3;
    transition: opacity 300ms;

    > img {
      height: 1.4rem;
    }
    &:hover {
      opacity: 0.54;
    }
    &:active {
      transition: opacity 120ms;
      opacity: 1;
    }
  }

  &-spinner,
  &-refresh {
    position: absolute;
    right: 0;
    bottom: 0rem;
    padding: 0.75rem 1rem;
  }
}
