@import 'common/sass/variables';

.ParityQrSigner {
  display: flex;
  z-index: 0;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  text-align: center;
  margin: 0 auto 1.5em;
  border-radius: 4px;
  overflow: hidden;

  &.is-disabled {
    background: color(gray-lighter);
  }

  &-error {
    padding: $space;
    font-size: $font-size-small;
    color: color(gray-light);

    &-icon {
      display: block;
      font-size: 60px;
      margin-bottom: $space-md;
      opacity: 0.8;
    }
  }
}

.Panel-description{
  &-parity {
    height: 25px; 
  }
}