@import 'common/sass/variables';

.TogglablePassword {
  &-toggle {
    cursor: pointer;
    color: color(gray);
    transition: $transition;

    &:hover {
      color: color(gray-darker);
    }
  }
}
