@import 'common/sass/variables';

.WelcomeModal {
  font-size: $font-size-bump-more;

  &-logo {
    display: block;
    max-width: 380px;
    margin: $space auto $space * 2;
  }

  &-beta {
    margin-top: -$space-md;
    font-size: $font-size-base;
    text-align: center;
  }

  &-continue {
    display: block;
    margin: $space * 2 auto 0;
  }

  p, ul {
    margin-bottom: $space;
  }
}
