@import 'common/sass/variables';

.AdvancedGas {
  margin-top: 0;
  margin-bottom: 0;

  &-calculate-limit {
    font-size: $font-size-small;

    .checkbox {
      display: flex;
      align-items: center;
      width: fit-content;
      input[type='checkbox'] {
        position: initial;
        margin: 0;
        margin-right: 8px;
      }
      span {
        font-weight: 400;
      }
    }
  }

  &-flex-wrapper {
    margin: 0px -8px;
  }
  &-gas-price,
  &-gas-limit,
  &-nonce {
    width: initial;
    flex-grow: 1;
    margin: 0px 8px;
  }
  @media screen and (max-width: $screen-lg) {
    &-flex-wrapper {
      flex-wrap: wrap;
    }

    &-nonce {
      width: 100%;
    }
  }
}
