.TransactionReceipt {
  text-align: left;
  &-row {
    display: flex;
    flex-direction: row;

    &-from-to {
      justify-content: space-between;
      flex-direction: column;
      @media (min-width: 550px) {
        > div {
          max-width: 48%;
        }
      }
    }

    &-desc {
      margin-bottom: 24px;

      @media (min-width: 550px) {
        margin-bottom: 0px;
      }

      a {
        color: #1eb8e7;
        font-weight: bold;
      }
    }

    @media (min-width: 550px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 24px;
    }
    &-column {
      flex: 1;
      margin-bottom: 24px;

      &:first-child {
        @media (min-width: 500px) {
          flex: 1;
        }
      }
      &:nth-child(2) {
        flex: 2;
        text-align: right;
      }

      @media (min-width: 550px) {
        margin-bottom: 0;
      }
    }
  }
  &-addressWrapper {
    margin-top: 10px;
    padding: 12px;
    background: #f8f8f8;
  }
  &-divider {
    height: 1px;
    margin-bottom: 20px;
    background: #e3edff;
  }
  &-details {
    margin-bottom: 25px;

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      @media (min-width: 500px) {
        flex-direction: row;
        align-items: flex-start;
      }
      &-column {
        &:first-child {
          font-weight: bold;
        }
        &:nth-child(2) {
          flex: 2;
          text-align: right;
        }
      }
    }
  }
  &-another {
    width: 100%;
    margin-bottom: 15px;
  }
  &-tweet {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    div,
    span {
      width: 100%;
    }
  }
  &-tweet-icon {
    display: inline-block;
    font-size: 20px;
    float: left;
  }
  &-tweet-text {
    flex: 1;
  }
  &-back {
    width: 100%;
    margin-bottom: 25px;
  }
  &-detailButton {
    width: 100%;
    margin-bottom: 15px;
    color: #1eb8e7;
  }
}

.rightAligned {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  .Amount .Amount-fiat {
    color: #b5bfc7;
    font-size: 16px;
  }
}
