@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

$footer-background: #163150;
$footer-text-color: #fff;

.mobile-only {
  display: block;

  @media (min-width: 800px) {
    display: none;
  }
}

.tablet-only {
  display: none;

  @media (min-width: 800px) {
    display: block;
  }
  @media (min-width: 1050px) {
    display: none;
  }
}

.desktop-only {
  display: none;

  @media (min-width: 1050px) {
    display: block;
  }
}

.HorizontalRule {
  @include perfectly-centered;

  margin-top: 0;
  margin-bottom: 30px;

  &-line {
    width: 150px;
    height: 2px;
    background: #3f546c;
  }

  @media (min-width: 800px) {
    display: none;
  }
}

.VerticalRule {
  display: none;
  margin: 0 20px;

  &-line {
    width: 2px;
    height: 220px;
    background: #3f546c;
  }

  @media (min-width: 800px) {
    display: block;
  }
  @media (min-width: 1050px) {
    margin: 0 30px;
  }
}

.Footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $footer-background;
  border-top: 1px solid #3e546d;
}

.Footer {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  padding: 41px 33px;
  background: $footer-background;

  &-socials-legal {
    @media (min-width: 800px) {
      display: none;
    }
  }

  @media (min-width: 800px) {
    flex-direction: row;
  }
  @media (min-width: 1050px) {
    padding-bottom: 0;
  }
}
