@import 'common/sass/variables';

.KeystoreDetails {
  &-title {
    margin: $space auto $space * 2.5;
  }

  &-password,
  &-key {
    max-width: 40rem;
    margin: 0 auto $space;

    &-label {
      margin-bottom: $space;
    }
  }

  &-submit,
  &-download {
    max-width: 16rem;
    margin: 0 auto $space * 3;
  }
}
