@import "common/sass/variables";
@import "common/sass/mixins";

.BetaAgreement {
  @include cover-message;
  background: $brand-info;

  &-content {
    h2 {
      text-align: center;
    }

    &-buttons {
      padding-top: 20px;

      &-btn {
        display: block;
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
        border: none;
        padding: 0;
        outline: none;
        transition: $transition;

        &.is-continue {
          height: 60px;
          line-height: 60px;
          font-size: 22px;
          background: rgba(#fff, 0.96);
          color: $gray-dark;
          border-radius: 4px;
          margin-bottom: 20px;

          &:hover {
            background: #fff;
            color: $gray-darker;
          }
        }

        &.is-reject {
          background: none;
          color: #fff;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  // Fade out
  &.is-fading {
    pointer-events: none;
    opacity: 0;
    background: #fff;
    transition: all 500ms ease 400ms;

    .BetaAgreement-content {
      opacity: 0;
      transform: translateY(15px);
      transition: all 500ms ease;
    }
  }
}
