.Modalz {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  z-index: 20;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
