@import 'common/sass/variables';
@import 'common/sass/mixins';

.ShapeShift {
  display: flex;
  align-items: center;
  justify-content: center;

  .Tab-content-pane {
    padding: 1.5rem 4rem;
  }

  &-powered-by {
    color: color(text-color);
    display: block;
    margin: 1rem 0 0 0;
    text-align: center;
    transition: color 0.4s ease-in;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
