.Dashboard-mobile {
  background: #e8eaed;

  @media (min-width: 700px) {
    display: none;
  }
  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    &-row {
      display: flex;
      margin-bottom: 15px;
    }
  }
  &-divider {
    height: 1px;
    width: 100vw;
    background: #ddd;
  }
  &-walletBreakdown {
    margin-bottom: 13px;
    padding: 15px 15px 0 15px;
  }
  &-section {
    padding: 0 15px;
  }
}

.Dashboard-desktop {
  display: none;
  background: #e8eaed;

  @media (min-width: 700px) {
    display: block;
  }
  &-top {
    display: flex;
    align-items: flex-start;

    &-left {
      flex: 1;

      &-heading {
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: bold;
      }
    }
    &-right {
      flex: 2;

      > div {
        margin-bottom: 18px;
      }
    }
  }
  &-modifiedPanel {
    padding: 0;

    .DashboardPanel-headingWrapper {
      padding: 15px;
    }
  }
}
