.Dashboard {
  background: #e8eaed;

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;

    &-row {
      display: flex;
      margin-bottom: 15px;
    }
  }
  &-divider {
    height: 1px;
    width: 100vw;
    background: #ddd;
  }
  &-walletBreakdown {
    padding: 15px;
  }
}
