.wc-title {
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  color: var(--dark-slate-blue);
  text-align: center;

  @media (max-width: 700px) {
    font-size: 25px;
  }
}

.wc-content {
  text-overflow: ellipsis;
}
.wc-small {
  font-size: 0.3em !important;
}
.wc-qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 415px;
  width: 415px;
  position: relative;
}
