@import 'common/sass/variables';

.WalletConnectPanel {
  margin: 1em; 
}

.WalletConnect {
  position: relative;
  justify-content: center;
  text-align: center;
  &-img {
    display: flex;
    justify-content: center;
    margin: 3em;
  }
  &-app-links {
    margin: 1em;
  }
  &-badge {
    display: inline-block;
    margin: 0 0.4em;
  }
  &-fields {
    display: flex;
    flex-direction: column;

    &-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      &-margin {
        margin-top: calc(1rem + 15px);
        margin-bottom: calc(1rem + 15px);
        font-size: 1.2rem;
      }

      & .AddressField {
        width: 100%;
      }
    }
  }
  &-title {
    text-align: center;
    line-height: 1;
    margin: $space 0 2rem;
    animation: decrypt-enter 500ms ease 1;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
  }
}

