@import 'sass/variables';
@import 'sass/mixins';

$speed: 500ms;

.Title-Wallets {
  position: relative;
}
@keyframes decrypt-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin decrypt-title {
  text-align: center;
  justify-content: center;
  line-height: 1;
  margin: $space 0 2rem;
  font-weight: normal;
  animation: decrypt-enter $speed ease 1;
  padding-top: 1em;
  font-size: 32px;
  font-weight: bold;
}

.Panel {
  height: 629px;
  justify-content: center;
  position: relative;
  padding: 2.5em;

  @media only screen and (max-width: 700px) {
    height: 500px;
    padding: 1em;
  }

  &-top {
    display: flex;
  }

  &-content {
    margin: 2em;

    @media (max-width: 700px) {
      margin: 0px;
    }
  }
  &-back {
    width: 150px;
    height: 29px;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
  }
  &-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-slate-blue);
    text-align: center;

    @media (max-width: 700px) {
      font-size: 25px;
    }

    &-connectDevice {
      justify-content: center;
      text-align: center;
      // width: 421px;
      height: auto;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      color: var(--dark-slate-blue);
      position: relative;
    }
  }
  &-image {
    align-content: center;
    justify-content: center;
  }

  &-description {
    min-height: 108px;
    font-family: Lato;
    font-size: 18px;
    line-height: 1.5;
    color: #333333;
    padding-top: 16px;
    position: relative;
    text-align: center;

    &-button {
      position: absolute;
      bottom: 1em;
      width: 420px;
    }
  }
  &-networkLabel {
    width: 62px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    color: var(--dark-slate-blue);
    padding-top: 1.25em;
  }
  &-dropdown {
    padding-top: 10px;
  }
}

.WalletDecrypt {
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  width: 760px;
  min-height: 850px;
  border-radius: 3px;
  background-color: #ffffff;

  @media (max-width: $screen-md) {
    width: 760px;
    height: 769px;
  }

  &-container {
    @media (max-width: 700px) {
      width: 375px;
    }
  }

  &-info {
    justify-content: center;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    color: #093053;
    margin: 2em;
    padding-bottom: 2em;
  }

  &-wallets {
    margin: 0 -$space-md;

    &-title {
      @include decrypt-title;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .Warning {
        width: 40rem;
      }

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      font-weight: 300;
      margin: $space 0;
    }
  }

  &-decrypt {
    text-align: center;

    &-back {
      @include reset-button;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      @media (max-width: $screen-md) {
        top: auto;
        bottom: -10px;
        left: 50%;
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {
  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}
@import 'sass/variables';
@import 'sass/mixins';

$speed: 500ms;

@keyframes decrypt-enter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.WalletDecrypt {
  display: flex;

  &-wallets {
    margin: 0 -$space-md;
    justify-content: center;
    text-align: center;

    &-title {
      @include decrypt-title;
    }

    &-description {
      text-align: center;
      display: flex;
      justify-content: center;

      height: 54px;
      font-family: Lato;
      font-size: 18px;
      line-height: 1.5;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .Warning {
        width: 40rem;
      }

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      font-weight: 300;
      margin: $space 0;
    }
  }

  &-decrypt {
    position: relative;
    text-align: center;

    @media (max-width: $screen-md) {
      padding-bottom: $space * 2;
    }

    &-back {
      @include reset-button;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      @media (max-width: $screen-md) {
        top: auto;
        bottom: -10px;
        left: 50%;
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-title {
      @include decrypt-title;
    }
    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {
  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}

.no-padding {
  padding: 0;
}

.SelectNetwork-panel {
  width: 420px;
}

.Mnemonic-dpath {
  max-width: 100%;
  width: 935px;
}
