.TransactionLabel {
  display: flex;
  align-items: center;

  &-image {
    margin-right: 16px;
    position: relative;
  }
  &-info {
    color: #424242;

    &-label {
      margin: 0;
      font-size: 20px;
    }
    &-stage {
      margin: 0;
      font-size: 16px;
      display: inline;
    }
    &-Date {
      margin: 0;
      font-size: 16px;
      display: inline;
    }
  }
}
