.Deploy {
  &-field {
    margin-top: 0;

    &-reset {
      display: block;
      margin: auto;
      margin-bottom: 0.25rem;
      .fa {
        margin-right: 8px;
      }
    }
  }
  &-submit {
    margin-bottom: 1rem;
  }
}
