.Interact {
  &-form {
    &-address {
      display: flex;

      > * {
        width: 50%;
        vertical-align: top;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
