@import "common/sass/variables";

.TokenBalances {
  &-title {
    margin-top: 0;
  }

  &-help {
    font-size: $font-size-small;
    margin-bottom: 15px;
  }

  &-scan {
    margin-top: 10px;
  }

  &-none {
    text-align: center;
    margin-bottom: -5px;
  }

  &-loader {
    padding: 25px 0;
    text-align: center;
  }

  &-rows {
    width: 100%;
    margin-bottom: $space;
  }

  &-form {
    margin-top: $space;
  }

  &-buttons {
    &-help {
      padding-top: 10px;
      text-align: center;
      font-size: $font-size-xs;
      color: $gray;
    }
  }

  &-offline {
    margin-bottom: 0;
    text-align: center;
  }
}
