.TransactionDetails {
  margin-bottom: 25px;
  display: block;
  @media (min-width: 700px) {
    max-width: 560px;
  }
  &-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-column {
      flex: 1;
      &:first-child {
        font-weight: bold;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }

    &-data {
      width: 100%;
      display: inline-block;
      overflow-wrap: break-word;
      //overflow-wrap: break-word;
    }
  }

  &-detailButton {
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    color: #1eb8e7;
  }
}