.TransactionDetails {
  margin-bottom: 25px;
  display: block;
  &-row {
    display: flex;
    align-items: center;
    &.stacked {
      flex-direction: column;
      align-items: flex-start;
    }
    &:nth-child(even) {
      //should actually pull SILVER from v2/theme
      background: #f8f8f8;
    }
    & > div {
      padding: 7px 10px;
    }
    &.stacked &-column + &-data {
      // yay vertical rhymth!
      padding-top: 0px;
    }
    &-column {
      flex: 1;
      &:first-child {
        font-weight: bold;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
    &-data {
      width: 100%;
      display: inline-block;
      word-break: break-word;
      &-empty {
        width: auto;
      }
    }
  }
  &-detailButton {
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
    color: #1eb8e7;
    font-weight: normal;
  }
}
