@import "common/sass/variables";

.CurrencySwap {
  text-align: center;

  &-title {
    font-weight: 100;
    margin-bottom: $space * 3;
  }

  &-input,
  &-divider {
    display: inline-block;
    vertical-align: top;
  }

  &-input {
    width: 100%;
    max-width: 10rem;
  }

  &-divider {
    height: $input-height-base;
    line-height: $input-height-base;
    margin: 0 15px;
    font-weight: 100;
  }

  &-submit {
    .btn {
      margin-top: $space * 3;
    }
  }
}
