@import 'common/sass/variables';
@import 'common/sass/mixins';

.SwapPayment {
  > * {
    margin: $space auto 0;
    width: 100%;
    max-width: 620px;
  }

  h2 {
    text-align: center;

    & > input {
      margin-top: $space;
    }
  }

  h4 {
    margin: 0.5rem 0;
  }

  &-address {
    @include mono;

    display: block;
    font-size: $font-size-medium;
    text-align: center;
  }

  @media screen and (max-width: $screen-sm) {
    h1 {
      font-size: $font-size-base;
    }
  }

  &-payment-id {
    h2 {
      font-weight: bolder;
      text-align: center;
    }

    &-link {
      font-size: $font-size-small;
      text-align: right;
    }
  }
}
