@import 'common/sass/variables';

.ShapeshiftBanner {
  margin: $space 0;
  text-align: center;

  &-banner {
    display: inline-block;
    text-align: left;
    padding: $space-sm $space;
    background-color: #3a526d;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1), inset 0 0 3px 0 rgba(0,0,0,0.1);
    p {
      display: inline-block;
      color: white;
      vertical-align: middle;
      margin-bottom: 0px;

      b {
        margin-right: 5px;
      }
    }
    img {
      display: inline-block;
      height: 32px;
      box-sizing: content-box;
      margin-left: 8px;
    }
  }
}
