.ShapeshiftBanner {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0px 16px;
  background-color: #3a526d;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.1), inset 0 0 3px 0 rgba(0,0,0,0.1);
  p {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-bottom: 0px;
  }
  img {
    display: inline-block;
    height: 32px;
    padding: 8px;
    box-sizing: content-box;
    margin-left: 16px;
  }
}