.DownloadAppPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 565px;
  padding: 42px 71px 50px 71px;
  text-align: center;

  &-heading {
    font-size: 32px;
    font-weight: bold;
  }
  &-icon {
    width: 135px;
    height: 135px;
    margin: 24px 0;
  }
  &-optionGroup {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
    &-option {
      width: 320px;
      margin-bottom: 15px;

      @media (min-width: 700px) {
        width: 200px;

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  &-option {
    width: 320px;
    margin-bottom: 15px;

    @media (min-width: 700px) {
      width: 420px;
    }
  }
}
