.GeneratePhrasePanel {
  &-words {
    height: 140px;
    margin-top: 25px;
    margin-bottom: 150px;
    padding: 29px 40px;
    border: 1px solid #e5ecf3;
    line-height: 1.5;
    text-align: center;
  }
  &-next {
    width: 100%;
    margin-bottom: 15px;
  }
  &-actions {
    display: flex;
    align-items: center;

    &-action {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        margin-right: 5px;
      }
      &:hover {
        img {
          filter: saturate(100);
        }
      }
    }
  }
}
