pre {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ececec;
  border-radius: 0px;
  padding: 8px;
  code {
    font-size: 14px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
  }
}
