.Help {
  display: inline-block;
  margin-left: 8px;
  box-sizing: border-box;
  line-height: inherit;
  vertical-align: top;
  transition: opacity 0.3s;

  & img {
    display: block;
    height: inherit;
    width: inherit;
  }

  &-x1 {
    height: 1rem;
    width: 1rem;
  }

  &-x2 {
    height: 1.5rem;
    width: 1.5rem;
  }

  &-x3 {
    height: 2rem;
    width: 2rem;
  }
}
