.Help {
  color: #4295bc;
  display: inline-block;
  box-sizing: border-box;
  line-height: inherit;
  vertical-align: top;
  transition: opacity 0.3s;
  margin-left: 0.5rem;

  & img {
    display: block;
    height: inherit;
    width: inherit;
  }

  &-x1 {
    height: 0.8125rem;
    width: 0.8125rem;
  }

  &-x2 {
    height: 1.5rem;
    width: 1.5rem;
  }

  &-x3 {
    height: 2rem;
    width: 2rem;
  }
}
