@import 'common/sass/variables';

.Identicon {
  position: relative;
  & > img {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 50%;
  }

  .border {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
}
