@import 'common/sass/mixins';

.Identicon {
  position: relative;
  width: 4rem;
  height: 4rem;
  @include show-tooltip-on-hover;

  .blockie {
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 50%;
    opacity: 1;
  }

  .metacertIcon {
    left: -10%;
    top: -50%;
    width: 60%;
    position: relative;
    padding: 0px;
    border-radius: 50%;

    img {
      padding: 3px;
      height: 100%;
      width: 100%;
      padding: 3px;
      border-radius: 50%;
    }
  }
  // API results
  &.metacert-not-verified {
    .metacertIcon {
      background-color: #FD9A3F;
    }
  }
  &.metacert-verified {
    .metacertIcon {
      background-color: #62A444;
    }
  }
  &.metacert-phishing {
    border: 5px solid #E24B4B;
    border-radius: 50%;
    .blockie {
      opacity: 0.5;
    }
    .metacertIcon {
      background-color: #E24B4B;
      top: -65%;
      left: -25%;
      width: 80%;
    }
  }

  &-img {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 50%;
  }

  &-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 1px 2px rgba(#000, 0.15), 0 0 3px rgba(#000, 0.15) inset;
  }
}
