@import 'common/sass/variables';

.InlineSpinner {
  color: color(gray-light);
  display: flex;
  align-items: center;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;

  .Spinner {
    margin-left: 8px;
  }

  &--fade {
    &-enter,
    &-exit {
      transition: opacity $transition-speed;
    }

    &-enter {
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

    &-exit {
      opacity: 1;

      &-active {
        opacity: 0;
      }
    }
  }
}
