.inline-spinner {
  &--fade {
    &-enter,
    &-exit {
      transition: opacity 300ms;
    }

    &-enter {
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

    &-exit {
      opacity: 1;

      &-active {
        opacity: 0;
      }
    }
  }
}
