@import 'common/sass/variables';

.example-form {
  max-width: 744px;
  margin: auto;
}

.input-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  > .TogglablePassword {
    width: 100%;
  }
  & > pre,
  & > .Select,
  &-input {
    margin-bottom: 1rem;
  }
  &-inline {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    flex-wrap: wrap;
    > .input-group-header {
      width: 100%;
    }
    > .input-group-input {
      flex-grow: 1;
      width: auto;
    }
    > .Select {
      margin-left: 8px;
    }
  }
  &-header {
    display: flex;
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 400;
    align-items: center;
    flex-wrap: wrap;
    > *:first-child {
      margin-right: 8px;
    }
    > .flex-spacer {
      flex-grow: 1;
    }
    > .small {
      color: rgba(0, 0, 0, 0.54);
    }
  }
  &-input {
    width: 100%;
    border: 1px solid $border-idle;
    border-radius: 2px;
    height: $input-height-base;
    padding: 0.75rem 1rem;
    font-weight: 400;
    font-size: $input-margin-bottom;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: inset 0 1px 0 0 rgba(63, 63, 68, 0.05);
    transition: border-color 120ms, box-shadow 120ms;
    margin-bottom: 1rem;
    &[placeholder] {
      text-overflow: ellipsis;
    }

    &.border-rad-right-0 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.border-rad-left-0 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &-small {
      padding: 0.5rem 0.75rem;
    }
    &::placeholder {
      color: $input-color-placeholder;
    }
    &:not([disabled]):not([readonly]) {
      &.invalid {
        border-color: $brand-danger;
        box-shadow: inset 0px 0px 0px 1px $brand-danger;
      }
      &.valid {
        border-color: #8dd17b;
        box-shadow: inset 0px 0px 0px 1px #8dd17b;
      }
      &:focus {
        border-color: #4295bc;
        box-shadow: inset 0px 0px 0px 1px #4295bc;
      }
    }
  }
}

.Swap-dropdown {
  .Select-input {
    left: 24px;
  }
}

textarea.input-group-input {
  height: initial;
}
