@import 'common/sass/variables';

$height: 22px;

// TODO - Implement styles for custom title bar on all platforms
.TitleBar,
.TitleBarPlaceholder {
  display: none;
}

.TitleBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $height;
  line-height: $height;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: $body-bg;
  z-index: $zindex-top;
  box-shadow: 0 1px 1px rgba(#000, 0.08);
}

.TitleBarPlaceholder {
  height: $height;
}
