@import 'common/sass/variables';
@import 'common/sass/mixins';

.UnlockHeader {
  position: relative;

  &-open {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: none;

    &-text {
      padding-right: 8px;
    }
  }
}
