@import 'common/sass/variables';
@import 'common/sass/mixins';

.SecondaryButton {
  @include reset-button;
  display: block;
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#32325d, 0.1), 0 1px 1px rgba(#32325d, 0.05),
    0 0 1px rgba(#32325d, 0.03);
  transition: box-shadow 150ms ease, transform 150ms ease, background-color 150ms ease;

  &:not(.is-disabled) {
    &:hover,
    &:focus {
      transform: translateY(-2px);
      z-index: 2;
      box-shadow: 0 7px 14px rgba(232, 234, 237, 0.5), 0 3px 6px rgba(232, 234, 237, 0.5);
    }
  }

  &:active {
    transform: translateY(-1px);
    background-color: darken(white, 3.5%);
    box-shadow: 0 1px 3px rgba(#32325d, 0.1), 0 1px 1px rgba(#32325d, 0.05),
      0 0 1px rgba(#32325d, 0.03);
  }
}
