img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: vertical;
}

h2 a.isActive {
  color: #333;
  cursor: default;
  &:hover,
  &:active {
    color: #333;
    cursor: default;
  }
}

.item {
  margin: 6px 0;
}

.output.well {
  padding: @space-sm @space;
  margin-top: -@space/2;
  p {
    margin: @space-sm 0;
  }
}

label small {
  color: @gray-light;
}

.write-address {
  .col-xs-1 {
    padding: 0;
  }
  .col-xs-11 {
    padding-right: 10px;
  }
}

.write-boolean label {
  display: block;
}

.decrypt-drtv {
  padding: @space 0;
  label.radio {
    padding: 0 @space-lg;
  }
}

.qr-code {
  max-width: 17rem;
  margin: auto;
}

.qr-pkey-container {
  position: relative;
}

.qr-overlay {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contracts {
  h4 + .dropdown,
  h4 + .dropdown .btn {
    margin-top: 0;
  }
  a.isActive {
    color: @text-color;
  }
  .dropdown-toggle {
    display: block;
    text-align: left;
    white-space: normal;
    .caret {
      position: absolute;
      right: @space;
      top: 1.25rem;
    }
  }
  .dropdown-menu-left {
    font-size: @font-size-small;
    left: auto;
    right: 0;
    min-width: 37rem;
    small {
      float: right;
    }
  }
}

.view-wallet-content {
  @media screen and (min-width: @grid-float-breakpoint) {
    padding-left: @space*3;
  }
  h5 {
    margin-bottom: @space-xs;
  }
  a.isActive {
    color: @text-color;
  }
}

#selectedTypeLedger ol {
  padding-left: 1rem;
}

.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: fadeOut(black, 30%);
  z-index: 999;
  text-align: center;

  .loading {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
  }
  img {
    border-radius: 50%;
  }
  h1 {
    animation: opacity 2000ms infinite ease-in-out;
    color: white;
  }

  @keyframes opacity {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

.embedded-logo {
  height: auto;
  width: 100%;
  max-width: 290px;
  padding: .5rem 0;
}

.ens-response {
  color: @gray;
}
