@mixin list {
  padding: 0;
  padding-bottom: 200px;
  list-style-type: none;
  overflow: auto;
}

.Sidebar {
  position: fixed;
  // Make room for sidebar.
  top: 80px;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  background: #fff;
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.1);
  color: #333;

  &-controls {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-right: 12px;

    button {
      padding: 0;
      border: none;
      background: none;
    }
  }

  @media (min-width: 500px) {
    width: 375px;
  }
  @media (min-width: 1000px) {
    top: 0;
  }
}

.SidebarScreen {
  &-image {
    text-align: center;
  }
  &-upper {
    border-bottom: 1px solid #e9e9e9;
  }
  &-heading {
    padding: 0 42px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: #163150;
    margin-bottom: 5px;
  }
  &-text {
    padding: 0 42px;
    margin-bottom: 25px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: #000000;
  }
  &-list {
    @include list;

    max-height: 500px;
  }
  &-list-full {
    @include list;

    max-height: 800px;
    margin-top: 20px;
  }
  &-action {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    cursor: pointer;

    &-content {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;

      img {
        margin-right: 14px;
      }
    }
  }
  &-language {
    margin: 0;
    padding: 15px 20px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    transition: background 0.3s ease-in;

    &:hover {
      background: #f2f2f2;
    }
  }
}

.NewNetworkOption {
  margin-bottom: 0;
  padding: 14px 18px;
  border-bottom: 1px solid #e9e9e9;
  font-weight: bold;

  &-name {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      margin-right: 9px;
    }
  }
  &-list {
    margin-top: 6px;
    padding-left: 27px;
    list-style-type: none;
  }
}

.NewNodeOption {
  display: flex;
  align-items: center;
  cursor: pointer;

  .CustomRadio {
    transform: scale(0.7);
  }
}

.CustomRadio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  border-radius: 50%;
  border: 1.2px solid #1eb8e7;

  &-inner {
    width: 12px;
    height: 12px;
    background: #1eb8e7;
    border-radius: 50%;
  }
}

.no-top-border {
  border-top: none !important;
}

.is-secondary {
  background: #f7f7f7;
}

.plain-ul {
  list-style-type: none;
  padding: 0;
}

.is-selected {
  background: #f2f2f2;
}
