$energi-primary: #00E676;
$energi-warning: #FF0C3E;
$energi-dark-rgb: 0, 0, 0;
$energi-light-rgb: 255, 255, 255;
$energi-gray-base: #212121;
$energi-gray-darkest: #1C1C1C;
$energi-gray-darker: #333;
$energi-gray-dark: #989898;
$energi-gray: #BDBDBD;
$energi-gray-light: #D1D1D4;
$energi-gray-lighter: #EBEBEB;
$energi-gray-lightest: #FAFAFA;
$energi-gray-anthracite: rgba(51,51,51, 0.3);
$energi-gray-anthracite-light: rgba(0,0,0,0.03);
$energi-green: #00DF63;
$energi-green-dark: #00D546;
$energi-green-light: #26EA8B;
$energi-green-lighter: #7BF3BB;
$energi-green-lightest: #80F3BB;
$energi-icons-green: #69F0AE;
$energi-red-dark: #FF031B;
$energi-red-light: #FF869F;
$energi-white-base: #FFF;
$energi-white-clear: #F4F4F6;
$energi-white-clearer: #FFFFFF;
$energi-white-dark: #E5ECF3;
$energi-white-darker: #E6E6E6;
$energi-white-addon-bg: #ECECEC;
$energi-white-bg: #EFF5FE;
$energi-white-border: #E5ECF3;
$energi-deep-blue: #163151;
$energi-light-blue: #007896;
$energi-deep-green: #263238;
$energi-gray-blue: #3E546D;
$energi-hover-blue: #293F59;
$energi-orange: #F79220;
$energi-gray-2: #444;
$energi-hardware: #6E9A3E;
$energi-shapeshift: #263A52;
$energi-simplex: #2D3139;
$energi-banner-bg: #1EB8E7;
$energi-error-code-bg: rgba(255, 255, 255, 0.25);
$energi-error-code-border: rgba(255, 255, 255, 0.6);
$energi-footer-bg: #163150;
$energi-footer-rule: #3f546C;
$energi-footer-text: #BBC2CB;
$energi-donation-button-bg: #344B64;
$energi-donation-button-border: #4A5D75;
$energi-donation-button-shadow: rgba(232, 234, 237, 0.5);
$energi-donate-button-check: #7AD832;
$energi-subscribe-input-bg: #142C46;
$energi-subscribe-input-border: #4D5F74;
$energi-subscribe-button-bg: #027796;
$energi-box-shadow: rgba(0, 0, 0, 0.12);
$energi-box-shadow-2: rgba(0, 0, 0, 0.1);
$energi-onboarding-modal-box-shadow: rgba(50, 50, 93, 0.1);
$energi-onboarding-modal-box-shadow-2: rgba(0, 0, 0, 0.07);
$energi-pre-footer-shadow: rgba(0, 0, 0, 0.07);
$energi-code-block-shadow: rgba(63, 63, 68, 0.05);
$energi-identicon-shadow: rgba(0, 0, 0, 0.15);
$energi-wallet-button-box-shadow: rgba(0, 0, 0, 0.2);
$energi-mobile-wallet-icon-border: rgba(0, 0, 0, 0.1);
$energi-generate-wallet-box-shadow: rgba(0, 0, 0, 0.3);
$energi-notifications-box-shadow: rgba(255, 255, 255, 0.4);
$energi-notifications-border-bottom: rgba(255, 255, 255, .7);
$energi-notifications-hover-border-color: rgba(255, 255, 255, .5);
$energi-notifications-active-border-color: rgba(255, 255, 255, .7);
$energi-modalz-background: rgba(0, 0, 0, 0.2);
$energi-sidebar-border: #E9E9E9;
$energi-sidebar-heading-text: #163150;
$energi-sidebar-text: #000000;
$energi-sidebar-selected-bg: #F2F2F2;
$energi-sidebar-secondary-bg: #F7F7F7;
$energi-ens-bg: #185475;
$energi-ens-light-bg: #1E92BA;
$energi-slider-bg: #CCC;

$theme-light: (
  dark-rgb: $energi-dark-rgb,
  light-rgb: $energi-light-rgb,
  gray-base: $energi-gray-base,
  gray-darker: $energi-gray-base,
  gray-dark: $energi-gray-dark,
  gray: $energi-gray,
  gray-light: $energi-gray-base,
  gray-lighter: $energi-gray-lighter,
  gray-lightest: $energi-gray-lightest,

  brand-primary: $energi-primary,
  brand-primary-dark: $energi-green,
  brand-primary-darker: $energi-green-dark,
  brand-primary-light: $energi-green-light,
  brand-primary-lighter: $energi-green-lighter,

  brand-success: $energi-primary,
  brand-success-dark: $energi-green,
  brand-success-darker: $energi-green-dark,
  brand-success-light: $energi-green-light,
  brand-success-lighter: $energi-green-lightest,

  brand-info: $energi-primary,
  brand-info-dark: $energi-green,
  brand-info-darker: $energi-green-dark,
  brand-info-light: $energi-green-light,
  brand-info-lighter: $energi-green-lighter,

  brand-warning: $energi-warning,
  brand-warning-dark: $energi-warning,
  brand-warning-darker: $energi-red-dark,
  brand-warning-light: $energi-red-light,
  brand-warning-lighter: $energi-red-light,

  brand-danger: $energi-warning,
  brand-danger-dark: $energi-warning,
  brand-danger-darker: $energi-red-dark,
  brand-danger-light: $energi-red-light,
  brand-danger-lighter: $energi-red-light,

  white-base: $energi-white-base,
  white-clear: $energi-white-clear,
  white-clearer: $energi-white-clearer,
  white-clearest: $energi-white-clearer,

  body-bg: $energi-white-clear,
  pane-bg: $energi-white-base,

  footer-bg: $energi-deep-blue,
  footer-border: $energi-light-blue,

  text-color: $energi-gray-darker,
  text-color-inverted: $energi-white-base,

  link-color: $energi-deep-green,
  link-hover-color: $energi-primary,

  tab-color: $energi-deep-green,
  tab-border: $energi-deep-green,
  tab-active-color: $energi-primary,
  tab-active-border: $energi-primary,

  control-bg: $energi-white-base,
  control-color: $energi-gray-base,
  control-border: $energi-white-dark,
  control-disabled-bg: $energi-gray-lightest,
  control-disabled-color: $energi-gray-base,
  control-disabled-border: $energi-white-darker,
  control-placeholder: $energi-gray-anthracite,
  control-inset-shadow: $energi-gray-anthracite-light,
  control-addon-bg: $energi-white-addon-bg,

  loader-light: $energi-white-base,
  loader-dark: $energi-deep-green,

  code-bg: $energi-white-bg,
  code-border: $energi-white-border,

  tooltip-bg: $energi-gray-base,
  tooltip-color: $energi-white-base,

  component-active-color: $energi-white-base,
  component-active-bg: $energi-light-blue,

  hardware: $energi-hardware,
  hardware-light: lighten($energi-hardware, 8%),
  shapeshift: $energi-shapeshift,
  shapeshift-light: lighten($energi-shapeshift, 12%),
  simplex: $energi-simplex,
  simplex-light: lighten($energi-simplex, 12%),

  banner-bg: $energi-banner-bg,

  error-code-bg: $energi-error-code-bg,
  error-code-border: $energi-error-code-border,

  footer-bg-new: $energi-deep-green,
  footer-rule: $energi-gray-blue,
  footer-border-new: $energi-gray-blue,
  footer-text: $energi-white-clear,
  donation-button-bg: $energi-donation-button-bg,
  donation-button-border: $energi-donation-button-border,
  donation-button-shadow: $energi-donation-button-shadow,
  donate-button-check: $energi-donate-button-check,
  subscribe-input-bg: $energi-subscribe-input-bg,
  subscribe-input-border: $energi-subscribe-input-border,
  subscribe-button-bg: $energi-subscribe-button-bg,

  header-bg: $energi-deep-green,
  header-icons: $energi-icons-green,
  header-border: $energi-gray-blue,
  header-dropdown-hover: $energi-hover-blue,

  box-shadow: $energi-box-shadow,
  box-shadow-2: $energi-box-shadow-2,
  onboarding-modal-box-shadow: $energi-onboarding-modal-box-shadow,
  onboarding-modal-box-shadow-2: $energi-onboarding-modal-box-shadow-2,
  pre-footer-shadow: $energi-pre-footer-shadow,
  code-block-shadow: $energi-code-block-shadow,
  identicon-shadow: $energi-identicon-shadow,
  wallet-button-box-shadow: $energi-wallet-button-box-shadow,
  mobile-wallet-icon-border: $energi-mobile-wallet-icon-border,
  generate-wallet-box-shadow: $energi-generate-wallet-box-shadow,

  notifications-box-shadow: $energi-notifications-box-shadow,
  notifications-border-bottom: $energi-notifications-border-bottom,
  notifications-hover-border-color: $energi-notifications-hover-border-color,
  notifications-active-border-color: $energi-notifications-active-border-color,

  modalz-background: $energi-modalz-background,

  sidebar-icons: $energi-green-light,
  sidebar-border: $energi-sidebar-border,
  sidebar-selected-bg: $energi-sidebar-selected-bg,
  sidebar-secondary-bg: $energi-sidebar-secondary-bg,

  ens-bg: $energi-ens-bg,
  ens-light-bg: $energi-ens-light-bg,

  hardware-wallet-card-top-border: $energi-icons-green,
  metamask-card-top-border: $energi-orange,
  parity-card-top-border: $energi-gray-2,

  slider: $energi-white-base,
  slider-bg: $energi-slider-bg,
  gas-slider-dot-bg: $energi-white-base,
  gas-slider-dot-border: $energi-gray-lighter
);

$energi-gray-base-darkmode: #b8bfd0;
$energi-gray-darker-darkmode: #8e97a9;
$energi-gray-dark-darkmode: #4d5463;
$energi-gray-darkmode: #393f4c;
$energi-gray-light-darkmode: #333842;
$energi-gray-lighter-darkmode: #282C34;
$energi-gray-lightest-darkmode: #21252B;

$theme-dark: (
  dark-rgb: $energi-light-rgb,
  light-rgb: $energi-dark-rgb,

  gray-base: $energi-gray-base-darkmode,
  gray-darker: $energi-gray-darker-darkmode,
  gray-dark: $energi-gray-dark-darkmode,
  gray: $energi-gray-base-darkmode,
  gray-light: $energi-gray-light-darkmode,
  gray-lighter: $energi-gray-lighter-darkmode,
  gray-lightest: $energi-gray-lightest-darkmode,

  brand-primary: darken($energi-primary, 6%),
  brand-primary-dark: $energi-primary,
  brand-primary-darker: darken($energi-primary, 6%),
  brand-primary-light: lighten($energi-primary, 12%),
  brand-primary-lighter: lighten($energi-primary, 16%),

  brand-success: lighten($energi-primary, 6%),
  brand-success-dark: $energi-primary,
  brand-success-darker: darken($energi-primary, 6%),
  brand-success-light: lighten($energi-primary, 12%),
  brand-success-lighter: lighten($energi-primary, 16%),

  brand-info: lighten($energi-primary, 6%),
  brand-info-dark: $energi-primary,
  brand-info-darker: darken($energi-primary, 6%),
  brand-info-light: lighten($energi-primary, 12%),
  brand-info-lighter: lighten($energi-primary, 16%),

  brand-warning: lighten($energi-warning, 6%),
  brand-warning-dark: $energi-warning,
  brand-warning-darker: darken($energi-warning, 6%),
  brand-warning-light: lighten($energi-warning, 12%),
  brand-warning-lighter: lighten($energi-warning, 16%),

  brand-danger: saturate(lighten($energi-warning, 6%), 7%),
  brand-danger-dark: saturate($energi-warning, 7%),
  brand-danger-darker: saturate(darken($energi-warning, 6%), 7%),
  brand-danger-light: saturate(lighten($energi-warning, 12%), 7%),
  brand-danger-lighter: saturate(lighten($energi-warning, 16%), 7%),

  white-base: $energi-white-base,
  white-clear: $energi-gray-base-darkmode,
  white-clearer: rgba($energi-gray-lightest-darkmode, 0.8),
  white-clearest: rgba($energi-gray-lightest-darkmode, 0.7),

  body-bg: $energi-gray-lightest-darkmode,
  pane-bg: $energi-gray-lighter-darkmode,

  footer-bg: $energi-gray-light-darkmode,
  footer-border: $energi-gray-light-darkmode,

  text-color: $energi-gray-base-darkmode,
  text-color-inverted: $energi-white-base,

  link-color: lighten($energi-primary, 10%),
  link-hover-color: lighten($energi-primary, 20%),

  tab-color: $energi-gray-base-darkmode,
  tab-border: $energi-gray-base-darkmode,
  tab-active-color: $energi-white-base,
  tab-active-border: $energi-white-base,

  control-bg: $energi-gray-darkmode,
  control-color: $energi-white-base,
  control-border: $energi-gray-dark-darkmode,
  control-disabled-bg: rgba($energi-gray-light-darkmode, 0.5),
  control-disabled-color: #aaa,
  control-disabled-border: rgba($energi-gray-light-darkmode, 0.5),
  control-placeholder: rgba($energi-white-base, 0.3),
  control-inset-shadow: rgba($energi-white-base, 0.03),
  control-addon-bg: $energi-gray-dark-darkmode,

  loader-light: $energi-white-base,
  loader-dark: $energi-white-base,

  code-bg: $energi-gray-darkmode,
  code-border: $energi-gray-dark-darkmode,

  tooltip-bg: $energi-gray-darkest,
  tooltip-color: $energi-white-base,

  component-active-color: $energi-gray-light-darkmode,
  component-active-bg: $energi-primary,

  hardware: $energi-hardware,
  hardware-light: lighten($energi-hardware, 8%),
  shapeshift: $energi-shapeshift,
  shapeshift-light: lighten($energi-shapeshift, 12%),
  simplex: $energi-simplex,
  simplex-light: lighten($energi-simplex, 12%),

  banner-bg: $energi-banner-bg,

  error-code-bg: $energi-error-code-bg,
  error-code-border: $energi-error-code-border,

  footer-bg-new: $energi-deep-green,
  footer-rule: $energi-gray-blue,
  footer-border-new: $energi-gray-blue,
  footer-text: $energi-gray-base-darkmode,
  donation-button-bg: $energi-donation-button-bg,
  donation-button-border: $energi-donation-button-border,
  donation-button-shadow: $energi-donation-button-shadow,
  donate-button-check: $energi-donate-button-check,
  subscribe-input-bg: $energi-subscribe-input-bg,
  subscribe-input-border: $energi-subscribe-input-border,
  subscribe-button-bg: $energi-subscribe-button-bg,

  header-bg: $energi-deep-green,
  header-icons: $energi-icons-green,
  header-border: $energi-gray-blue,
  header-dropdown-hover: $energi-hover-blue,

  box-shadow: $energi-box-shadow,
  box-shadow-2: $energi-box-shadow-2,
  onboarding-modal-box-shadow: $energi-onboarding-modal-box-shadow,
  onboarding-modal-box-shadow-2: $energi-onboarding-modal-box-shadow-2,
  pre-footer-shadow: $energi-pre-footer-shadow,
  code-block-shadow: $energi-code-block-shadow,
  identicon-shadow: $energi-identicon-shadow,
  wallet-button-box-shadow: $energi-wallet-button-box-shadow,
  mobile-wallet-icon-border: $energi-mobile-wallet-icon-border,
  generate-wallet-box-shadow: $energi-generate-wallet-box-shadow,

  notifications-box-shadow: $energi-notifications-box-shadow,
  notifications-border-bottom: $energi-notifications-border-bottom,
  notifications-hover-border-color: $energi-notifications-hover-border-color,
  notifications-active-border-color: $energi-notifications-active-border-color,

  modalz-background: $energi-modalz-background,

  sidebar-icons: $energi-icons-green,
  sidebar-border: $energi-sidebar-border,
  sidebar-heading-text: $energi-sidebar-heading-text,
  sidebar-text: $energi-sidebar-text,
  sidebar-selected-bg: $energi-sidebar-selected-bg,
  sidebar-secondary-bg: $energi-sidebar-secondary-bg,

  ens-bg: $energi-ens-bg,
  ens-light-bg: $energi-ens-light-bg,

  hardware-wallet-card-top-border: $energi-icons-green,
  metamask-card-top-border: $energi-orange,
  parity-card-top-border: $energi-gray-2,

  slider: $energi-gray-base-darkmode,
  slider-bg: $energi-gray-darkmode,
  gas-slider-dot-bg: $energi-gray-base-darkmode,
  gas-slider-dot-border: $energi-gray-base-darkmode
);

$themes: (
  ('light', $theme-light),
  ('dark', $theme-dark)
);

$color-var-prefix: '--color';
@function color($name) {
  // First make sure it's a legit color, and error if not
  @if (map-get($theme-light, $name) == null) {
    @error 'Color `#{$name}` is not a valid color';
    @return false;
  }

  @return var(#{$color-var-prefix}-#{$name});
}

@function shade-dark($opacity) {
  @return rgba(var(#{$color-var-prefix}-dark-rgb), $opacity);
}

@function shade-light($opacity) {
  @return rgba(var(#{$color-var-prefix}-light-rgb), $opacity);
}
