$brand-primary: #007896;
$brand-info: #163151;
$brand-success: #5dba5a;
$brand-warning: #ff9800;
$brand-danger: #db5846;

$theme-light: (
  gray-base: #000,
  gray-darker: #1c1c1c,
  gray-dark: #333,
  gray: #737373,
  gray-light: #9a9a9a,
  gray-lighter: #ececec,
  gray-lightest: #fafafa,

  brand-primary: $brand-primary,
  brand-primary-dark: darken($brand-primary, 10%),
  brand-primary-darker: darken($brand-primary, 20%),
  brand-primary-light: lighten($brand-primary, 10%),
  brand-primary-lighter: lighten($brand-primary, 20%),

  brand-success: $brand-success,
  brand-success-dark: darken($brand-success, 10%),
  brand-success-darker: darken($brand-success, 20%),
  brand-success-light: lighten($brand-success, 10%),
  brand-success-lighter: lighten($brand-success, 20%),

  brand-info: $brand-info,
  brand-info-dark: darken($brand-info, 10%),
  brand-info-darker: darken($brand-info, 20%),
  brand-info-light: lighten($brand-info, 10%),
  brand-info-lighter: lighten($brand-info, 20%),

  brand-warning: $brand-warning,
  brand-warning-dark: darken($brand-warning, 10%),
  brand-warning-darker: darken($brand-warning, 20%),
  brand-warning-light: lighten($brand-warning, 10%),
  brand-warning-lighter: lighten($brand-warning, 20%),

  brand-danger: $brand-danger,
  brand-danger-dark: darken($brand-danger, 10%),
  brand-danger-darker: darken($brand-danger, 20%),
  brand-danger-light: lighten($brand-danger, 10%),
  brand-danger-lighter: lighten($brand-danger, 20%),

  white-clear: rgba(#fff, 0.8),
  white-clearer: rgba(#fff, 0.7),
  white-clearest: rgba(#fff, 0.6),

  body-bg: #fbfbfb,
  pane-bg: #fff,
  text-color: #333,
  text-color-inverted: #fff,
  link-color: $brand-primary,
  link-hover-color: darken($brand-primary, 10%),

  tab-color: #eee,
  tab-active-color: #fff,

  control-bg: #fff,
  control-color: #333,
  control-border: #e5ecf3,
  control-disabled-bg: #fafafa,
  control-disabled-color: #333,
  control-disabled-border: #e6e6e6,
  control-placeholder: rgba(#333, 0.3),
  control-inset-shadow: rgba(#000, 0.03),

  loader-light: #fff,
  loader-dark: $brand-info,

  table-bg: #fff,
  table-bg-odd: #fefefe,
  table-bg-hover: #fafafa,

  tooltip-bg: #222,
  tooltip-color: #fff,

  component-active-color: #fff,
  component-active-bg: $brand-primary,
);

$theme-dark: (
  gray-base: #fafafa,
  gray-darker: #ececec,
  gray-dark: #9a9a9a,
  gray: #737373,
  gray-light: #333,
  gray-lighter: #1c1c1c,
  gray-lightest: #000,

  brand-primary: $brand-primary,
  brand-primary-dark: lighten($brand-primary, 10%),
  brand-primary-darker: lighten($brand-primary, 20%),
  brand-primary-light: darken($brand-primary, 10%),
  brand-primary-lighter: darken($brand-primary, 20%),

  brand-success: $brand-success,
  brand-success-dark: lighten($brand-success, 10%),
  brand-success-darker: lighten($brand-success, 20%),
  brand-success-light: darken($brand-success, 10%),
  brand-success-lighter: darken($brand-success, 20%),

  brand-info: $brand-info,
  brand-info-dark: lighten($brand-info, 10%),
  brand-info-darker: lighten($brand-info, 20%),
  brand-info-light: darken($brand-info, 10%),
  brand-info-lighter: darken($brand-info, 20%),

  brand-warning: $brand-warning,
  brand-warning-dark: lighten($brand-warning, 10%),
  brand-warning-darker: lighten($brand-warning, 20%),
  brand-warning-light: darken($brand-warning, 10%),
  brand-warning-lighter: darken($brand-warning, 20%),

  brand-danger: $brand-danger,
  brand-danger-dark: lighten($brand-danger, 10%),
  brand-danger-darker: lighten($brand-danger, 20%),
  brand-danger-light: darken($brand-danger, 10%),
  brand-danger-lighter: darken($brand-danger, 20%),

  white-clear: rgba(#333, 0.9),
  white-clearer: rgba(#333, 0.8),
  white-clearest: rgba(#333, 0.7),

  body-bg: #222,
  pane-bg: #333,
  text-color: #fff,
  text-color-inverted: #fff,
  link-color: lighten($brand-primary, 10%),
  link-hover-color: lighten($brand-primary, 20%),

  control-bg: #444,
  control-bg-dark: lighten(#444, 8%),
  control-bg-darker: lighten(#444, 15%),
  control-color: #FFF,
  control-border: #666,
  control-border-dark: darken(#666, 8%),
  control-border-darker: darken(#666, 15%),
  control-disabled-bg: #aaa,
  control-disabled-color: #888,
  control-disabled-border: #aaa,
  control-placeholder: rgba(#FFF, 0.3),
  control-inset-shadow: rgba(#FFF, 0.03),

  table-bg: #fff,
  table-bg-odd: #fefefe,
  table-bg-hover: #fafafa,

  tooltip-bg: #444,
  tooltip-color: #FFF,

  component-active-color: #333,
  component-active-bg: $brand-primary,
);

$themes: (
  ('light', $theme-light),
  ('dark', $theme-dark)
);

$color-var-prefix: '--color';
@function color($name) {
  // First make sure it's a legit color, and error if not
  @if (map-get($theme-light, $name) == null) {
    @error 'Color `#{$name}` is not a valid color';
    @return false;
  }

  @return var(#{$color-var-prefix}-#{$name});
}

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: #737373;
$gray-light: #9a9a9a;
$gray-lighter: #ececec;
$gray-lightest: #fafafa;

$border-idle: #e5ecf3;
$border-disabled: #e6e6e6;

$body-bg: #fbfbfb;
$text-color: $gray-dark;

$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 10%);

$component-active-color: #fff;
$component-active-bg: $brand-primary;
