$input-bg: #fff;
$input-bg-disabled: $gray-lightest;
$input-color: #333333;
$input-border: $gray-lighter;
$input-border-focus: rgba($brand-primary, 0.6);
$input-color-placeholder: darken($gray-lighter, 10%);

$input-height-base: 2.55rem;
$input-height-large: 4rem;
$input-height-small: 2rem;

$form-group-margin-bottom: $space-sm;

$legend-color: $gray-dark;
$legend-border-color: #e5e5e5;

$input-group-addon-bg: $gray-lighter;
$input-group-addon-border-color: $input-border;

$cursor-disabled: default;

$dropdown-bg: #fff;
$dropdown-border: rgba(0, 0, 0, .15);
$dropdown-fallback-border: $gray-lighter;
$dropdown-divider-bg: #e5e5e5;
$dropdown-link-color: $ether-navy;
$dropdown-link-hover-color: $ether-blue;
$dropdown-link-hover-bg: $gray-lightest;
$dropdown-link-active-color: $component-active-color;
$dropdown-link-active-bg: $component-active-bg;
$dropdown-link-disabled-color: $gray-light;
$dropdown-header-color: $gray-light;
$dropdown-caret-color: #000;
