$table-cell-padding: $space-sm;
$table-condensed-cell-padding: $space-xs;
$table-bg: transparent;
$table-bg-accent: #f9f9f9;
$table-bg-hover: $gray-lightest;
$table-bg-active: $table-bg-hover;
$table-border-color: #ddd;
