$font-family-sans-serif: 'Lato', sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$base: 15;
$font-size-pixels: $base + px;
$font-size-pixels-xl: $base + 1px; // for xl screens
$font-size-pixels-sm: $base + px; // for small screens

$font-size-large-bump: 2.25rem; // 33.75
$font-size-large: 1.90rem; // 28.5
$font-size-medium-bump: 1.50rem; // 22.5
$font-size-medium: 1.30rem; // 19.5
$font-size-bump-more: 1.15rem; // 17.25
$font-size-bump: 1.07rem; // 16.05
$font-size-base: 1.00rem; // 15
$font-size-small: 0.90rem; // 13.8
$font-size-xs: 0.75rem; // 12

$font-size-h1: $font-size-large-bump;
$font-size-h2: $font-size-large;
$font-size-h3: $font-size-medium-bump;
$font-size-h4: $font-size-medium;
$font-size-h5: $font-size-bump-more;
$font-size-h6: $font-size-bump;

$line-height-base: 1.4;
$line-height-computed: 1.4;

$headings-font-family: inherit;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: inherit;

// Are these used? From v3
// $icon-font-path: "../fonts/";
// $icon-font-name: "glyphicons-halflings-regular";
// $icon-font-svg-id: "glyphicons_halflingsregular";
