@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}

@mixin heading {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

@mixin text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  color: #bbc2cb;
}

$spacing-sm: 8px;
$spacing-md: 32px;

.Footer-Linkset {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: $spacing-md;

  &-column {
    &:not(:last-child) {
      margin-bottom: $spacing-md;

      @media (min-width: 800px) {
        margin-right: $spacing-md;
        margin-bottom: 0;
      }
    }

    h2 {
      @include heading;
      @include no-margin-padding;

      margin-bottom: $spacing-sm;
    }
    ul {
      @include no-margin-padding;

      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        @include no-margin-padding;

        margin-bottom: $spacing-sm;

        a {
          @include text;
        }
      }
    }

    @media (min-width: 1050px) {
      padding: $spacing-md 0;
    }
  }

  @media (min-width: 800px) {
    flex: 2;
    flex-direction: row;
    margin-bottom: 40px;
  }
  @media (min-width: 1050px) {
    justify-content: space-evenly;
  }
}

.Linkset {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: $spacing-md;

  &-column {
    &:not(:last-child) {
      margin-bottom: $spacing-md;

      @media (min-width: 800px) {
        margin-right: $spacing-md;
        margin-bottom: 0;
      }
    }

    h2 {
      @include heading;
      @include no-margin-padding;

      margin-bottom: $spacing-sm;
    }
    ul {
      @include no-margin-padding;

      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        @include no-margin-padding;

        margin-bottom: $spacing-sm;

        a {
          @include text;
        }
      }
    }

    @media (min-width: 1050px) {
      padding: $spacing-md 0;
    }
  }

  @media (min-width: 800px) {
    flex: 2;
    flex-direction: row;
    margin-bottom: 40px;
  }
  @media (min-width: 1050px) {
    justify-content: space-evenly;
  }
}
