@import "common/sass/variables";

.GasPrice {

  &-dropdown-menu {
    padding: 0.5rem !important;
    min-width: 300px !important;

    @media screen and (max-width: $screen-xs) {
      left: 0;
      right: auto;
    }
  }

  &-header {
    max-width: 26rem;
    color: $text-color;
    p {
      font-weight: 400;
      margin: $space-sm 0 0;
    }

    a, a:hover, a:focus, a:visited {
      color: $brand-primary !important;
    }
  }

  &-padding-reset {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &-description {
    white-space: normal;
    font-weight: 300 !important;
    margin: 2rem 0 0;
  }
}
