@import "common/sass/variables";

.Navigation {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  border-top: .25rem solid $brand-primary;
  transition: border 300ms ease;
  background: #fff;
  border-bottom: 1px solid #eee;

  &-scroll {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin-bottom: -20px;
    font-size: 0;
    white-space: nowrap;

    @media screen and (max-width: $screen-sm) {
      padding: 0;
    }
  }

  &-links {
    display: inline-block;
    font-size: 0;
    margin-bottom: 21px;
    min-width: 100%;
    padding: 5px 0 0;
    vertical-align: middle;
  }

  &-arrow {
    background-color: white;
    bottom: 12px;
    color: #d6d6d6;
    font-size: 33px;
    line-height: 1.3;
    min-width: 50px;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 5%;
    z-index: 999;
    &:hover {
      text-decoration: none;
    }

    &--left {
      left: 3%;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 47%,
        rgba(255, 255, 255, 1) 100%
      );
      padding-left: 5px;
      text-align: left;
      @media screen and (max-width: $screen-sm) {
        left: 0;
      }
    }

    &--right {
      right: 3%;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 47%,
        rgba(255, 255, 255, 1) 100%
      );
      padding-right: 5px;
      text-align: right;
      @media screen and (max-width: $screen-sm) {
        right: 0;
      }
    }
  }
}
