@import 'common/sass/variables';

.NetworkDropdown {
  &-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    z-index: $zindex-dropdown;
    background: #FFF;
    box-shadow: $dropdown-shadow;
    transform: translateY(2px);
  }
}
