@import "common/sass/variables";
@import "common/sass/mixins";

.AlphaAgreement {
  @include cover-message;
  background: $brand-warning;

  &-content {
    &-buttons {
      padding-top: 20px;

      &-btn {
        display: block;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        border: none;
        padding: 0;
        outline: none;

        &.is-reject {
          height: 60px;
          line-height: 60px;
          font-size: 22px;
          background: rgba(#fff, 0.96);
          color: $gray;
          border-radius: 4px;
          margin-bottom: 20px;

          &:hover {
            background: #fff;
          }
        }

        &.is-continue {
          background: none;
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Fade out
  &.is-fading {
    pointer-events: none;
    opacity: 0;
    background: #fff;
    transition: all 500ms ease 400ms;

    .AlphaAgreement-content {
      opacity: 0;
      transform: translateY(15px);
      transition: all 500ms ease;
    }
  }
}
