@import 'common/sass/variables';

.ElectronTemplate {
  height: 100%;
  display: flex;
  flex-direction: row;

  &-sidebar,
  &-content {
    position: relative;
    overflow: auto;
  }

  &-sidebar {
    width: $electron-sidebar-width;
    overflow-x: hidden;
    background: #FFF;
    border-right: 1px solid $gray-lighter;
  }

  &-content {
    padding: 10vh 30px;
    flex: 1;

    &-tab {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &-draggable {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 16px;
    -webkit-app-region: drag;

    // Only needed on OSX, Linux and Windows have title bars
    .is-osx & {
      display: block;
    }
  }
}
