.WebTemplate {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // Make room for mobile header.
  padding-top: 80px;

  &-spacer {
    flex-grow: 2;
  }

  @media (min-width: 1000px) {
    padding-top: 0;
  }
}
