.DownloadApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 565px;
  padding: 42px 40px 50px 40px;
  text-align: center;

  &-heading {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 15px;
  }
  &-description {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    padding: 0 30px 0 30px;
  }
  &-learnMore {
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    &-link {
      font-size: 16px;
      display: inline;
      font-weight: normal;
      line-height: normal;
      color: #1eb8e7;
    }
  }
  &-icon {
    width: 135px;
    height: 135px;
    margin: 21px 0 28px 0;
  }
  &-optionGroup {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
    &-option {
      width: 320px;
      margin-bottom: 15px;
      font-size: 17px;

      @media (min-width: 700px) {
        width: 200px;

        &:first-of-type {
          margin-right: 20px;
        }
      }
    }
  }
  &-option {
    width: 320px;
    margin-bottom: 15px;
    font-size: 18px;

    @media (min-width: 700px) {
      width: 420px;
    }
  }
}
