@import 'sass/variables';
@import 'sass/mixins';

.Disclaimer {
  color: color(text-color);

  &-button {
    @include reset-button;
    color: #FFF;

    &:hover {
      opacity: 0.8;
    }
  }

  .text-uppercase {
    text-transform: uppercase;
  }
}
