@import 'common/sass/variables';

.TxStatus {
  text-align: center;

  &-title {
    margin-top: 0;
  }

  &-data {
    text-align: left;
    overflow-x: auto;
  }

  &-loading {
    padding: $space * 3 0;
  }

  &-error {
    max-width: 620px;
    margin: 0 auto;

    &-title {
      color: color(brand-danger);
    }

    &-desc {
      font-size: $font-size-bump;
      margin-bottom: $space-md;
    }

    &-list {
      text-align: left;
    }
  }
}
