@import 'sass/variables';

code {
  color: color(text-color);
  background-color: color(code-bg);
  font-size: 14px;
  line-height: inherit;
  border-radius: 2px;
  padding: 2px 0.25rem;
  border: 1px solid color(code-border);
}
