@import 'sass/variables';

.loading.loading.loading.loading.loading.loading {
  position: relative;
  cursor: progress;
  text-shadow: none;
  color: transparent;
  opacity: 1;
  pointer-events: auto;
  transition: all 0s linear, opacity 0.1s ease;
}

.loading::before {
  position: absolute;
  content: "";
  opacity: 1 !important;
  top: 50%;
  left: 50%;
  margin: -.5rem 0 0 -.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 500rem;
  border: 0.175rem solid color(brand-purple);
}

.loading::after {
  position: absolute;
  content: "";
  opacity: 1 !important;
  top: 50%;
  left: 50%;
  margin: -.5rem 0 0 -.5rem;
  width: 1rem;
  height: 1rem;
  animation: loader-spin 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border: 0.175em solid transparent;
  border-top-color: #fff;
}

@keyframes loader-spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
