.DrawerAction {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 78px;
  padding: 27px 24px;

  &-icon {
    width: 34px;
    height: 34px;
    margin-right: 14px;
  }
  &-text {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d2732;
  }
}
