@import 'common/sass/variables';

.CompatibleWalletsPanel {
  padding: 25px 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $screen-xxl;
  width: 100%;

  @media (max-width: $screen-lg) {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: $screen-sm) {
    padding: 25px 12px 50px 12px;
  }

  &-heading {
    margin-right: 40px;

    @media (max-width: $screen-lg) {
      margin-right: 0px;
    }

    &-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 0;
      line-height: normal;
    }
    &-description {
      font-size: 16px;
      font-weight: normal;
      line-height: normal;

      @media (max-width: $screen-lg) {
        margin-bottom: 40px;
      }
    }
  }

  &-wallets {
    max-width: 800px;

    .slick-dots {
      bottom: -35px;

      li {
        margin: 0;
        height: 0px;
        width: 16px;
      }

      button:before {
        font-size: 12px;
        color: #ece8e8;
        opacity: 1;
        line-height: 12px;
        width: 12px;
        height: 12px;
      }

      .slick-active button:before {
        color: #c5c2c2;
        opacity: 1;
      }
    }

    @media (min-width: $screen-sm) {
      .slick-dots {
        display: none !important;
      }
    }

    &-WalletCard {
      background-color: white;
      width: 140px;
      height: 140px;
      margin-right: 9px;
      margin-left: 9px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);

      .mobile {
        display: none;
      }

      @media (max-width: $screen-sm) {
        .mobile {
          display: block;
        }

        .non-mobile {
          display: none;
        }
      }

      img {
        width: 53px;
        height: 53px;
        display: inline;
      }

      p {
        font-size: 13px;
        font-weight: normal;
        color: $dark-slate-blue;
        margin-top: 5px;
      }
    }
  }
}
