@import 'common/sass/variables';

.DownloadAppPanel {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 148px;
  max-width: $screen-xxl;

  @media (max-width: $screen-md) {
    padding: 88px 148px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $screen-sm) {
    padding: 50px 12px 42px 12px;
  }

  .callToAction {
    display: flex;
    flex-direction: column;
    order: 1;

    @media (max-width: $screen-md) {
      order: 2;
      align-items: center;
      text-align: center;
    }
    .title {
      font-size: 35px;
      font-weight: bold;
      color: white;
      line-height: normal;
      max-width: 559px;

      @media (max-width: $screen-sm) {
        font-size: 23px;
      }
    }
    .description {
      max-width: 646px;
      font-size: 30px;
      line-height: 1.5;
      margin-top: 8px;
      color: white;

      @media (max-width: $screen-sm) {
        font-size: 16px;
      }
    }
    .button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      font-weight: normal;
      margin-top: 26px;
    }
  }

  .image {
    margin-left: 50px;
    width: 244px;
    order: 2;

    @media (max-width: $screen-md) {
      order: 1;
      margin: 0 42px 42px 0;
    }

    @media (max-width: $screen-sm) {
      width: 127px;
    }
  }
}
