.GetStartedPanel {
  padding: 50px 70px;
  text-align: center;

  &-heading {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
  }
  &-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 700px) {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &-option {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 200px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 0 0 rgba(0, 0, 0, 0.05),
        0 1px 3px 0 rgba(0, 0, 0, 0.1);

      @media (min-width: 700px) {
        flex: 1;
        width: 200px;
      }
      &-image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 90px;
        height: 90px;
        margin: 10px 0;
        padding-top: 10px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;

        @media (min-width: 700px) {
          flex: 1;
          padding: 0;
        }
      }
    }
  }
  &-alreadyHaveAccount {
    button {
      margin-top: 23px;

      img {
        margin-right: 15px;
      }
      p {
        display: inline;
      }
    }
  }
}
