@import 'common/sass/variables';

.TestimonialsPanel {
  .slick-slider {
    width: 100%;

    .slick-disabled {
      display: none !important;
    }

    .slick-prev {
      z-index: 9999;
      left: 0px;
      background: url(/common/assets/images/icn-more.svg) top left;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(0, -50%) rotate(180deg);

      @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        left: calc(50% - 250px);
      }

      @media (max-width: $screen-xs) {
        left: 5px;
      }
    }

    .slick-next {
      right: 0px;
      background: url(/common/assets/images/icn-more.svg) top left;
      background-size: cover;
      background-repeat: no-repeat;

      @media (min-width: $screen-xs) and (max-width: $screen-sm) {
        left: calc(50% + 200px);
      }

      @media (max-width: $screen-xs) {
        right: 5px;
      }
    }

    button {
      width: 24px;
      height: 24px;
    }

    button::before {
      opacity: 1;
      content: '';
    }
  }
}
