@import 'common/sass/variables';
@import 'common/sass/mixins';

.ErrorScreen {
  @include cover-message;
  background: $brand-danger;

  code {
    display: block;
    word-wrap: break-word;
    background: rgba(#fff, 0.25);
    border: 1px solid rgba(#fff, 0.6);
    color: #FFF;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    text-shadow: none;
    opacity: 0.8;
  }
}
