@import 'common/sass/variables';
@import 'common/sass/mixins';

.ErrorScreen {
  @include cover-message;
  background: color(brand-danger);

  code {
    display: block;
    word-wrap: break-word;
    background: color(error-code-bg);
    border: 1px solid color(error-code-border);
    color: #FFF;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    text-shadow: none;
    opacity: 0.8;
  }
}
