@import 'common/sass/variables';

.RequestPayment {
  &-title {
    display: block;
    margin: 0.5rem 1rem;
    margin-bottom: 0.25rem;
  }
  &-qr {
    position: relative;
    background: #fff;
  }

  &-codeBox {
    min-height: 180px;
    overflow-x: hidden;
  }
}
