$footer-background: #163150;
$footer-text-color: #fff;

.NewFooter {
  display: flex;
  flex-direction: column;
  background: $footer-background;
  color: $footer-text-color;

  &-logo-container {
    display: flex;
    flex-direction: column;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0;

      img {
        width: 152px;
        height: 38px;
      }
    }
    &-text {
      font-family: Lato, sans-serif;
      font-size: 10px;
      padding: 15px;
    }
    &-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
