$footer-background: #163150;
$footer-text-color: #fff;

.NewFooter {
  display: flex;
  flex-direction: column;
  background: $footer-background;
  color: $footer-text-color;
  padding: 40px 15px 0 15px;

  &-mobile-only {
    display: block;

    @media (min-width: 600px) {
      display: none;
    }
  }
  &-desktop-only {
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }
  &-divider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  &-divider {
    width: 150px;
    height: 2px;
    opacity: 0.19;
    border: solid 1px #e9e9e9;
  }
  &-logo-container {
    display: flex;
    flex-direction: column;

    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      img {
        width: 152px;
        height: 38px;
      }

      @media (min-width: 600px) {
        justify-content: space-between;
      }
    }
    &-text {
      font-family: Lato, sans-serif;
      font-size: 10px;
      margin-bottom: 15px;

      p {
        text-align: center;

        @media (min-width: 600px) {
          text-align: left;
        }
      }
    }
    &-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 600px) {
      flex: 1;
    }
  }
  &-actions-container {
    &-donation {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;

      button {
        width: 103px;
        height: 32px;
        border: 1px solid #495d75;
        border-radius: 6px;
        box-shadow: 0 1px 1px 0 rgba(232, 234, 237, 0.5), inset 0 1px 3px 0 rgba(232, 234, 237, 0.5);
        background-color: rgba(255, 255, 255, 0.15);
        margin-bottom: 15px;
      }
    }
    &-subscribe {
      h2 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
      p {
        font-size: 14px;
        text-align: center;
        color: #c0c7cf;
        padding: 0 15px;
      }
      &-input {
        display: flex;
        align-items: center;
        padding: 0 32px;

        input {
          width: 215px;
          height: 40px;
          border-radius: 3px;
          background-color: #132b47;
          border: solid 1px #4c5f75;
          padding-left: 7px;
        }
        button {
          width: 100px;
          height: 40px;
          border: none;
          border-radius: 3px;
          background-color: #027796;
          font-size: 12px;
        }
      }
    }

    @media (min-width: 600px) {
      flex: 1;
    }
  }
  &-links-container {
    ul,
    li {
      margin: 0;
      margin-bottom: 3px;
      padding: 0;
    }
    h2 {
      margin: 0;
      margin-bottom: 8px;
      font-size: 16px;
      text-align: center;
    }
    li {
      margin: 0;
      margin-bottom: 8px;
      font-size: 14px;
      text-align: center;
      color: #c0c7cf;
    }
    ul {
      list-style-type: none;
    }
    &-blocks {
      margin-bottom: 15px;

      > section {
        margin-bottom: 30px;
      }
    }
    &-linkset {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    &-legal {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 30px;
      font-size: 10px;
      padding: 0 30px;
    }

    @media (min-width: 600px) {
      flex: 1;
    }
  }

  @media (min-width: 600px) {
    flex-direction: row;
  }
}
