.Layout {
  min-width: 350px;
  background: #f6f8fa;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-content {
    padding: 100px 0 50px 0;

    @media (min-width: 700px) {
      &.centered {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
      }
    }
    @media (min-width: 850px) {
      padding: 50px 80px;
    }
    &.fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
