.ProtectedTransactionReport {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  text-align: center;

  &-title {
    margin: 10px 0 0;
    font-size: 24px;
    line-height: 36px;

    &-address {
      margin: 0 0 10px;
    }
  }

  &-subtitle {
    margin: 10px 5px 25px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  &-timeline {
    .timeline {
      list-style: none;
      padding: 20px 0 30px;
      margin: 0;
      position: relative;

      >li {
        position: relative;

        &:before {
          content: " ";
          display: table;
        }

        &:after {
          content: " ";
          display: table;
          clear: both;
        }

        >.timeline-panel {
          min-height: 50px;
          width: 80%;
          padding-top: 12px;
          padding-left: 10px;
          float: right;
          position: relative;
          font-size: 18px;
          line-height: 24px;
          text-align: left;

          >h6 {
            margin: 0;
            color: #1c314e;
            font-weight: 700;
          }

          >p {
            margin: 0;

            &.text-success {
              color: #b3dd87;
            }

            &.text-no-info {
              color: #a086f7;
            }

            &.text-danger {
              color: #fa873f;
            }

            &.text-error {
              color: #dd544e;
            }

            &.text-muted {
              color: #B5BFC7;
            }
          }
        }

        >.timeline-badge {
          width: 50px;
          height: 50px;
          position: absolute;
          left: 15px;
          margin-left: -25px;
          border: 2px solid #a086f7;
          border-radius: 50%;
          transform: translateX(50%);
          color: #A086F7;
          font-size: 16px;
          line-height: 44px;
          background: white;
          text-align: center;
          z-index: 1000;
        }
      }

      >li:not(:last-child) {
        margin-bottom: 20px;

        >.timeline-panel {
          &:before {
            top: 45px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 2px;
            background-color: #A086F7;
            left: -30px;
            height: 100%;
          }
        }
      }
    }
  }

  &-view-comments {
    font-size: 16px;
    line-height: 24px;
    margin: 0 50px 30px 80px;
    color: #A086F7;
    text-align: left;

    >img {
      position: absolute;
      right: -132px;
      transform: translateY(-50%);
    }

    a {
      color: #A086F7;
      text-decoration: underline;
    }
  }

  &-footer-text {
    font-size: 16px;
    line-height: 24px;

    .highlighted {
      color: #A086F7;
    }
  }
}
