.ProtectionThisTransaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  text-align: center;

  svg:first-child {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-title {
    margin: 10px 0;
    font-size: 24px;
    line-height: 36px;
  }

  &-subtitle {
    margin: 10px 0 25px;
    font-size: 16px;
    line-height: 24px;
  }

  ul {
    padding-left: 2rem;
    list-style-type: none;
  }

  ul li {
    padding-left: 10px;
    margin-left: -10px;
    margin-bottom: 15px;
    background-image: url('~assets/images/icn-bullet.svg');
    background-position: 0 10px;
    background-size: 5px 5px;
    background-repeat: no-repeat;
    text-align: left;
    max-width: 280px;

    &:last-child {
      margin-bottom: 16px;
    }

    h6 {
      color: #A086F7;
      margin: 0;
      font-size: 14px;
      line-height: 24px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &-confirm-text {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  hr {
    width: 100%;
    margin: 0 0 18px 0;
    border: 1px solid #E3EDFF;
  }

  &-send-with-confidence {
    margin: 0 0 15px;
  }

  &-fee {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;

    img {
      height: 23px;
      width: 24px;
    }

    .fee-label {
      flex: 0 0 140px;
      max-width: 140px;
      padding-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    .fee-value {
      flex: 0 0 136px;
      max-width: 136px;
      margin-bottom: 0;
      text-align: right;

      .fee-fiat-value,
      .fee-eth-value {
        display: inline-block;
        max-width: 136px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .fee-fiat-value {
        margin-top: -6px;
      }
    }
  }

  &-protect-transaction {
    width: 280px;
    margin: 12px 0 16px;
  }

  &-cancel {
    background: none;
    border: none;
    color: #1eb8e7;
    text-align: center;
  }

  .muted {
    color: #B5BFC7;
  }
}

