.SignProtectedTransaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  text-align: center;

  .SignTransactionKeystore {
    &-title {
      height: auto;
      margin-top: 10px;
    }
  }
}
