.ThisTransactionIsProtected {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 2px;
  background: white;
  text-align: center;

  &-title {
    margin: 10px 0;
    font-size: 24px;
    line-height: 36px;
  }

  &-subtitle {
    margin: 10px 0 25px;
    font-size: 16px;
    line-height: 24px;
  }

  hr {
    width: 100%;
    margin: 0 0 18px 0;
    border: 1px solid #E3EDFF;
  }

  &-fee {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;

    img {
      height: 23px;
      width: 24px;
    }

    .fee-label {
      flex: 0 0 140px;
      max-width: 140px;
      padding-left: 10px;
      margin-bottom: 0;
      text-align: left;
    }

    .fee-value {
      flex: 0 0 136px;
      max-width: 136px;
      margin-bottom: 0;
      text-align: right;

      .fee-fiat-value,
      .fee-eth-value {
        display: inline-block;
        max-width: 136px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .fee-fiat-value {
        margin-top: -6px;
      }
    }
  }

  .muted {
    color: #B5BFC7;
  }
}

