.WithProtectTransaction {
  display: flex;
  flex-wrap: wrap;
  background-color: color(gray-base);

  &-main {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  &-side {
    visibility: collapse;
    position: absolute;
    width: 375px;
    top: 40px;
    right: 0;
    bottom: 15px;

    section {
      height: 100%;
      padding: 30px 15px 30px;
    }
  }
}

[class^="ContentPanel__ContentPanelWrapper"] {
  &.has-side-panel {
    .WithProtectTransaction {
      &-side {
        visibility: visible;
      }
    }
  }
}
