.Mnemonic {
  position: relative;

  &-img {
    display: flex;
    justify-content: center;
    margin: 1.5em;

    @media (max-width:700px) {
      margin: 0em; 
    }

  }
  &-help {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    @media (max-width:700px) {
      margin-top: 0em; 
    }
  }

  &-label {
    display: flex;
    height: 22px;
  }

  &-tool-tip {
    float: right;
    margin-left: 5px;
  }
}

.Tool-tip-img {
  padding-left: 5px;
}
