@import 'common/sass/variables';
@import 'common/sass/mixins';

.ViewOnly {
  height: 600px;

  @media (max-width: 700px) {
    height: 450px;
    padding: 1em; 
  }

  &-title {
    font-size: 32px;
    font-weight: bold;

    @media (max-width: 700px) {
      text-align: center; 
    }
  }
  &-submit {
    position: relative;
    bottom: -4em;
    width: 100%;
  }
  &-fields {
    display: flex;
    flex-direction: column;
    padding-top: 2em;

    &-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      &:nth-of-type(2) {
        margin-bottom: calc(1rem + 15px);
        font-size: 1.2rem;
      }

      & .AddressField {
        width: 100%;
      }
    }
  }
}
