.Web3-img {
  width: 150px;
  height: 150px;
}

.Web3-img-container {
  padding-bottom: 3em;
  display: flex;
  justify-content: center;
  align-content: center;

  @media (max-width: 700px) {
    padding-bottom: 1em;
  }
}

.Web3-footer {
  text-align: center;
}
