$baby-blue: #1097c0;
$heading-text-color: #4a4a4a;
$button-primary: #067997;

@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin baby-blue {
  background: $baby-blue;
  color: #fff;
}

@mixin slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

.ProgressDots {
  display: flex;
  align-items: center;

  &-dot {
    width: 8px;
    height: 8px;
    margin: 0 0.5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;

    &--active {
      width: 12px;
      height: 12px;
      background: $baby-blue;
      border: 3px solid #fff;
    }
  }
}

.Slide {
  position: absolute;
  width: 100%;
  height: 100%;

  h1 {
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 900;
    color: $heading-text-color;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
  }

  @media (min-width: 512px) {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  @media (min-width: 820px) {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.FirstSlide {
  @include perfectly-centered;
  @include slide-inner;

  button {
    margin-top: 1.33rem;
  }

  @media (min-width: 820px) {
    padding: 0 8rem;
  }
}

.SecondSlide {
  @include perfectly-centered;
  @include slide-inner;

  display: flex;
  flex-direction: column;

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    section {
      margin: 1rem;
    }

    button {
      margin-top: 1.33rem;

      &.first {
        visibility: hidden;
      }
      &.second {
        visibility: visible;
      }
    }

    @media (min-width: 512px) {
      button.first {
        visibility: visible;
      }
      button.second {
        visibility: hidden;
      }
    }
    @media (min-width: 512px) {
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0;

      h1 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
    @media (min-width: 820px) {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
        line-height: 33px;
      }
    }
  }
}

.ThirdSlide {
  @include perfectly-centered;
  @include slide-inner;

  &-content {
    display: flex;
    flex-direction: column;

    section {
      flex: 1;
    }
    h1 {
      font-size: 14px;
    }
    p {
      font-size: 10px;
    }
  }
  @media (min-width: 512px) {
    button {
      margin-top: 1.33rem;
    }
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  @media (min-width: 820px) {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.Button {
  width: 120px;
  height: 50px;
  border-radius: 2px;
  background: $button-primary;
  color: #fff;
}

.OnboardingModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &-top {
    @include baby-blue;
    @include perfectly-centered;

    flex: 1;
  }
  &-side {
    @include baby-blue;
    @include perfectly-centered;

    display: none;
    flex: 1;
    flex-direction: column;

    &-top {
      @include perfectly-centered;

      flex: 1;
    }
    &-content {
      @include perfectly-centered;

      flex: 3;
      padding: 2rem;
    }
    &-bottom {
      @include perfectly-centered;

      flex: 1;
    }
  }
  &-content {
    position: relative;
    flex: 5;
  }
  &-bottom {
    @include baby-blue;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    img {
      transform: scale(0.5);
    }
    section {
      @include perfectly-centered;

      flex: 1;
    }
  }
  @media (min-width: 512px) {
    flex-direction: row;

    &-top,
    &-bottom {
      display: none;
    }
    &-side {
      display: flex;
    }
    &-content {
      flex: 2;
    }
  }
}
