$baby-blue: #1097c0;
$heading-text-color: #4a4a4a;
$button-primary: #067997;
$light-gray: #979797;

@mixin perfectly-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin baby-blue {
  background: $baby-blue;
  color: #fff;
}

@mixin slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}

@mixin onboarding-modal-slide-heading {
  font-size: 20px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  color: $heading-text-color;

  @media (min-width: 450px) {
    font-size: 24px;
  }
  @media (min-width: 820px) {
    font-size: 30px;
  }
}

@mixin onboarding-modal-slide-text {
  font-size: 14px;

  @media (min-width: 450px) {
    font-size: 18px;
  }
  @media (min-width: 820px) {
    font-size: 20px;
  }
}

.ProgressDots {
  display: flex;
  align-items: center;

  &-dot {
    width: 8px;
    height: 8px;
    margin: 0 0.5rem;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;

    &--active {
      width: 12px;
      height: 12px;
      background: $baby-blue;
      border: 3px solid #fff;
    }
  }
}

.HardwareWalletChoice {
  display: flex;
  border: 1px solid $light-gray;

  &:not(:last-of-type) {
    border-bottom: none;
  }
  &-image {
    display: none;
  }
  &-text {
    @include perfectly-centered;

    flex: 3;
    padding: 0.5rem;

    p {
      margin: 0;
      font-size: 18px;
    }
  }

  @media (min-height: 600px) {
    &-image {
      display: block;
      flex: 1;
      padding: 0.5rem;
    }
  }
  @media (min-width: 450px) {
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 1rem;
      border-bottom: 1px solid $light-gray;
    }
  }
}

.FirstSlide {
  @include perfectly-centered;
  @include slide-inner;

  &-content {
    &-heading {
      @include onboarding-modal-slide-heading;
    }
    &-text {
      @include onboarding-modal-slide-text;
    }
  }

  @media (min-width: 820px) {
    padding: 0 4rem;
  }
}

.SecondSlide {
  @include perfectly-centered;
  @include slide-inner;

  button {
    margin-top: 2rem;
  }
  .vertical {
    display: block;
  }
  .horizontal {
    display: none;
  }
  &-content {
    &-heading {
      @include onboarding-modal-slide-heading;
    }
    &-text {
      @include onboarding-modal-slide-text;
    }
    &-segment {
      margin-bottom: 2rem;
    }
  }

  @media (min-width: 450px) {
    .vertical {
      display: none;
    }
    .horizontal {
      display: block;
    }
    &-content {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }
  }
}

.ThirdSlide {
  @include perfectly-centered;
  @include slide-inner;

  padding: 0 0.3rem;

  ul,
  li {
    margin: 0;
  }
  h1 {
    margin: 0.2rem;
  }
  button {
    margin-top: 0.5rem;
  }
  &-content {
    &-heading {
      font-family: Lato, sans-serif;
      font-weight: 900;
      font-size: 16px;
      color: $heading-text-color;
    }
    &-text {
      font-size: 14px;
    }
  }

  @media (min-width: 450px) and (min-height: 740px) {
    h1 {
      margin: 1rem;
    }
    button {
      margin-top: 1.33rem;
    }
    &-content {
      &-heading {
        font-size: 24px;
      }
      &-text {
        font-size: 18px;
      }
    }
  }
  @media (min-width: 600px) and (max-width: 840px) {
    &-content {
      &-heading {
        font-size: 18px;
      }
      &-text {
        font-size: 14px;
      }
    }
  }
  @media (min-width: 820px) {
    &-content {
      &-heading {
        font-size: 30px;
      }
    }
  }
}

.FourthSlide {
  @include perfectly-centered;
  @include slide-inner;

  &-content {
    &-heading {
      @include onboarding-modal-slide-heading;
    }
    &-text {
      @include onboarding-modal-slide-text;
    }
    &-wallets {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
    }
  }
  @media (min-width: 450px) {
    &-content {
      &-wallets {
        flex-direction: row;
      }
    }
  }
  @media (min-width: 820px) {
    &-content {
      padding: 0 4rem;
    }
  }
}

.Button {
  width: 120px;
  height: 50px;
  border-radius: 2px;
  background: $button-primary;
  color: #fff;
}

.OnboardingModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &-top {
    @include baby-blue;
    @include perfectly-centered;

    flex: 1;
  }
  &-side {
    @include baby-blue;
    @include perfectly-centered;

    display: none;
    flex: 1;
    flex-direction: column;

    &-top {
      @include perfectly-centered;

      flex: 1;
    }
    &-content {
      @include perfectly-centered;

      flex: 3;
      padding: 2rem;
    }
    &-bottom {
      @include perfectly-centered;

      flex: 1;
    }
  }
  &-content {
    position: relative;
    flex: 5;
  }
  &-bottom {
    @include baby-blue;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    img {
      transform: scale(0.5);
    }
    section {
      @include perfectly-centered;

      flex: 1;
    }
  }
  @media (min-width: 600px) {
    flex-direction: row;

    &-top,
    &-bottom {
      display: none;
    }
    &-side {
      display: flex;
    }
    &-content {
      flex: 2;
    }
  }
  @media (min-width: 820px) {
    &-content {
      flex: 3;
    }
  }
}
