@import 'common/sass/variables';

.Helpers {
  max-width: 900px;
  margin: auto;
  text-align: center;

  .input-group-addon {
    min-width: 140px;

    &.ether-addon {
      color: white;
      background-color: $brand-primary;
    }
  }

  .input-row {
    display: flex;
    justify-content: space-between;

    .input-group {
      margin: 0;
      display: block;
      width: 47%;
    }
  }
}