.RequestAssets {
  label {
    margin-bottom: 8px;
    color: #333333;
    font-weight: normal;
  }
  &-panel {
    &-fieldset {
      margin-bottom: 15px;

      &-input {
        width: 100%;
      }
      &-box {
        padding: 12px 0;
        background: #f6f8fa;
        text-align: center;
      }
    }
    &-amountAsset {
      display: flex;
      align-items: center;

      &-amount {
        flex: 2;
        margin-right: 15px;
      }
      &-asset {
        flex: 1;
      }
    }
    &-divider {
      height: 1px;
      margin: 30px 0;
      background: #e3edff;
    }
  }
}
