@import 'common/sass/variables';

.tx-modal-body {
  margin: auto;
  max-width: 35rem;
  width: 100%;
}

.tx-modal-testnet-warn {
  text-align: center;
  background-color: $brand-warning;
  border-radius: 2px;
  padding: 0.5rem 0.75rem;
  font-weight: 400;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
}
