@import 'common/sass/variables';

.tx-modal-body {
  margin: auto;
  max-width: 35rem;
  width: 100%;
  @media screen and (min-width: $screen-sm) {
    min-width: 32rem;
  }
}

.tx-modal-testnet-warn {
  text-align: center;
  margin: 0;
}

.tx-modal-address {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  .Identicon {
    margin-right: 1rem;
  }
  &-from,
  &-to,
  &-send-amount {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0rem;
    &:first-child {
      margin-top: 0;
    }
    > img {
      margin-right: 1rem;
    }
    > div > h5 {
      margin: 0;
      &:first-child {
        margin-right: 16px;
        padding-bottom: 0.25rem;
      }
      &:last-child {
        font-weight: 400;
        opacity: 0.54;
        border-radius: 5px;
      }
    }
  }

  &-send-amount {
    > img {
      height: 3rem;
      width: 3rem;
      transform: scale(0.75);
    }
  }
}

.tx-modal-amount,
.tx-modal-address {
  padding: 1rem 0rem;
  &:first-child {
    padding-top: 0rem;
  }
}

.tx-modal-amount {
  &-send,
  &-fee,
  &-total {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-positioning-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      > h5 {
        margin: 0px 0px;
        &:last-child {
          font-weight: 300;
          & span {
            font-weight: 300;
            letter-spacing: 1px;
            > span {
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }

  &-total {
    &-positioning-wrapper {
      padding: 1rem 0rem;
      padding-bottom: 0;
      background-image: linear-gradient(to right, #c2cfd6 33%, #fff0 0%);
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
      > h5:last-child {
        & span {
          font-weight: 400;
        }
      }
    }
  }
}

.tx-modal-details {
  margin-top: 1rem;
  &-button {
    display: block;
    margin: auto;
    width: 100%;
    padding: 8px 32px;
    border: none;
    border-radius: 5px;
    transition: background-color 300ms;
    &:hover {
      background-color: rgba(153, 153, 153, 0.12);
    }
  }
  &-pair {
    margin-bottom: 1rem;
    > h5 {
      display: inline-block;
      margin: 0;
      &:nth-child(0n + 2) {
        font-family: $font-family-monospace;
        font-weight: 300;
        letter-spacing: 0px;
        margin-left: 8px;
      }
    }
  }
}
