@import 'common/sass/variables';

.tx-modal-body {
  margin: auto;
  max-width: 35rem;
  width: 100%;
  @media screen and (min-width: $screen-sm) {
    min-width: 32rem;
  }
}

.tx-modal-testnet-warn {
  text-align: center;
  margin: 0;
}

.tx-modal-amount,
.tx-modal-address {
  padding: 1rem 0rem;
  &:first-child {
    padding-top: 0rem;
  }
}
