.ConfirmTransaction {
  text-align: left;
  &-row {
    display: flex;
    flex-direction: column;

    @media (min-width: 650px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 24px;
    }
    &-column {
      flex: 1;
      margin-bottom: 24px;
      @media (min-width: 650px) {
        margin-bottom: 0;
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
  &-addressWrapper {
    margin: 10px;
    padding: 12px;
    background: #f8f8f8;
  }
  &-row-column:first-child &-addressWrapper {
    margin-left: 0;
  }    
  &-row-column:last-child &-addressWrapper {
    margin-right: 0;
  }      
  &-divider {
    height: 1px;
    margin-bottom: 20px;
    background: #e3edff;
  }
  &-button {
    width: 100%;
  }
}
