@import 'common/sass/variables';

.scheduled-tx-settings {
  padding: 0 20px 20px 20px;
  border: 1px solid #e5ecf3;

  &_title {
    margin-top: -10px;
    background: white;
    padding: 0 15px;
    display: block;
    width: 250px;
  }
}

.vcenter-sm {
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }
}