@import 'common/sass/variables';

.scheduled-tx-settings {
  padding: 0 20px 20px 20px;
  border: 1px solid #e5ecf3;

  &_title {
    margin-top: -10px;
    background: white;
    padding: 0 15px;
    display: block;
    width: 250px;
  }

  &_logo {
    max-width: 230px;
    width: 100%;
    height: 46px;
    background-image: url('~assets/images/chronologic-logo.svg');
    background-repeat: no-repeat;

    @media (min-width: $screen-xs) {
      margin-left: 15px;
    }
  }
}

.vcenter-sm {
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
  }
}