@import 'common/sass/variables';
@import 'common/sass/mixins';

.ScheduleFields {
  padding: 0 20px 20px 20px;
  border: 1px solid #e5ecf3;

  &-title {
    margin-top: -10px;
    background: white;
    padding: 0 15px;
    display: block;
    width: 250px;
  }

  &-logo {
    float: right;
    max-width: 160px;
    width: 100%;
    height: 32px;
    background-image: url(~assets/images/chronologic-logo.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
  }

  &-description {
    font-weight: 300;
    font-size: 16px;
    padding: 20px 0 30px;
    text-align: justify;
  }

  &-field-title {
    position: relative;
    white-space: nowrap;

    &-help {
      margin-top: 3px;
      margin-left: 5px;
      pointer-events: none;
    }

    &-text {
      display: inline-block;
    }

    &-tooltip {
      display: inline-block;
      white-space: normal;
      @include show-tooltip-on-hover;
    }

    &-wrap {
      white-space: normal;
    }
  }
}

.vcenter-sm {
  @media (min-width: $screen-lg) {
    display: flex;
    align-items: center;
  }
}
