@import 'common/sass/variables';

.DesktopHeader {
  display: flex;
  flex-direction: column;
  background: color(header-bg);
  color: color(white-clear);
  border-bottom: 1px solid color(header-border);

  i {
    color: color(header-icons);
    width: 12px;
    height: 12px;
  }
  &-top {
    display: flex;
    align-items: center;
    padding: 12px 50px;
    border-bottom: 1px solid color(header-border);
    font-size: 14px;
    text-transform: uppercase;

    ul > li:first-of-type {
      margin-right: 38px;
    }
    &-links {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: inline;
        font-weight: bold;
        letter-spacing: 1px;
        color: color(white-clear);

        a {
          color: color(white-clear);
        }
      }
    }
    &-left {
      flex: 1;
    }
    &-center {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 160px;
        height: 39px;
      }
    }
    &-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &-links {
      margin: 0;
      padding: 0;
      list-style-type: none;

      & > li {
        display: inline-flex;
        height: 48px;
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
        color: color(white-clear);
        a {
          color: color(white-clear);
        }

      }
      &-item {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 22px;
        height: 48px;

        a {
          color: color(white-clear);
        }
        i {
          margin-left: 5px;
          color: color(header-icons);
          &.create-icon {
            margin-right: 5px;
            margin-left: 0;
          }
        }
      }
      &-dropdown {
        position: absolute;
        z-index: 200;
        top: 100%;
        width: 200px;
        margin: 0;
        padding: 0;
        background: color(header-bg);
        border: 1px solid color(header-border);
        text-transform: initial;
        list-style-type: none;
        cursor: initial;

        li {
          margin: 0;
          font-size: 12px;

          a {
            display: block;
            color: color(white-clear);
            font-weight: normal;
            padding: 12px 8px;

            &:hover {
              background: color(header-dropdown-hover);
            }
          }
        }
      }
    }

    &-left {
      flex: 1;
    }

    &-center {
      display: flex;
      align-items: center;
      justify-content: center;

    }
    &-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

  }
}
