@import 'common/sass/variables';

.GasSlider {
  &-toggle {
    display: inline-block;
    position: relative;
    margin-top: $space-sm;
    left: -8px;
  }
}

.calculating-gas-limit {
  color: rgba(51, 51, 51, 0.7);
  display: flex;
  align-items: baseline;
  font-weight: 400;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  .Spinner {
    margin-left: 8px;
  }
}
