@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 500ms;

@keyframes decrypt-enter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@mixin decrypt-title {
  text-align: center;
  line-height: 1;
  margin: $space 0 2rem;
  font-weight: normal;
  animation: decrypt-enter $speed ease 1;
}

.Panel {
  width: 562px;
  // display: flex;
  // flex-direction: column;
  position: relative;
  &-top {
    display: flex;
  }
  &-content {
    min-height: 629px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
  }
  &-title {
    width: 421px;
    height: 39px;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--dark-slate-blue);

    &-connectDevice {
      justify-content: center;
      text-align: center;
      width: 421px;
      height: auto;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--dark-slate-blue);
      position: relative;
    }
  }
  &-image {
    align-content: center;
    justify-content: center;
  }

  &-description {
    width: 417px;
    height: 108px;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    padding-top: 16px;
    position: relative;
    &-button {
      width: 417px;
      position: absolute;
      bottom: 50px;
    }
  }
  &-networkLabel {
    width: 62px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    color: var(--dark-slate-blue);
    padding: 16px;
  }
  &-dropdown {
    padding-top: 10px;
  }
}

.WalletDecrypt {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  width: 760px;
  height: 790px;
  border-radius: 3px;

  &-connectWallet {
    width: 562px;
    height: 629px;
  }

  &-info {
    width: 512px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #093053;
  }

  &-wallets {
    margin: 0 -$space-md;

    &-title {
      @include decrypt-title;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .Warning {
        width: 40rem;
      }

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      font-weight: 300;
      margin: $space 0;
    }
  }

  &-decrypt {
    text-align: center;
    padding-bottom: $space;

    @media (max-width: $screen-md) {
      padding-bottom: $space * 2;
    }

    &-back {
      @include reset-button;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      @media (max-width: $screen-md) {
        top: auto;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {
  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}
@import 'common/sass/variables';
@import 'common/sass/mixins';

$speed: 500ms;

@keyframes decrypt-enter {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.WalletDecrypt {
  position: relative;

  &-wallets {
    margin: 0 -$space-md;

    &-title {
      @include decrypt-title;
    }

    &-row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .Warning {
        width: 40rem;
      }

      @media screen and (max-width: $screen-xs) {
        margin: 0;
      }

      &:last-child {
        margin: 0;
      }
    }

    &-generate {
      text-align: center;
      font-weight: 300;
      margin: $space 0;
    }
  }

  &-decrypt {
    position: relative;
    text-align: center;
    padding-bottom: $space;

    @media (max-width: $screen-md) {
      padding-bottom: $space * 2;
    }

    &-back {
      @include reset-button;
      position: absolute;
      top: 0;
      left: 0;
      line-height: $font-size-large;
      opacity: 0.4;
      transition: opacity 120ms ease, transform 120ms ease;

      @media (max-width: $screen-md) {
        top: auto;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 1;
      }

      .fa {
        position: relative;
        top: -2px;
        font-size: 11px;
      }
    }

    &-title {
      @include decrypt-title;
    }

    &-form {
      margin: 0 auto;
    }
    &-label {
      opacity: 0.8;
      font-weight: 300;
      white-space: nowrap;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-override {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

// Animation between two slides
.DecryptContent {
  &-enter {
    opacity: 0;
    transition: opacity $speed * 0.25 ease $speed * 0.125;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: opacity $speed * 0.25 ease;
    pointer-events: none;

    &-active {
      opacity: 0;
    }
  }
}

.no-padding {
  padding: 0;
}
