.Drawer {
  position: fixed;
  top: 81px;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 480px;
  background: #ffffff;
  box-shadow: -2px 0 6px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 1000px) {
    top: 0;
    width: 379px;
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 26px 0;
    padding: 0 21px;

    &-heading {
      margin: 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      color: #424242;
    }
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-inside {
      flex: 2;
      padding: 0 21px;
    }
    &-actions {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &-action {
        &:first-of-type {
          border-top: 1px solid #d7dadc;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #d7dadc;
        }
      }
    }
  }
}
