.AccountScreen {
  &-current {
    margin-bottom: 30px;
    padding: 15px;
    background: rgba(0, 122, 153, 0.05);
    border: 2px solid #007a99;
    border-radius: 4px;
  }
  &-heading {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #424242;
  }
  &-recent {
    padding: 15px 40px;
    border: 1px solid #b5bfc7;
    border-radius: 4px;
    text-align: center;

    &-heading {
      font-size: 18px;
      font-weight: 900;
    }
    &-button {
      margin-top: 15px;
      width: 100%;
    }
  }
}
