.UnlockScreen {
  &-box {
    padding: 30px 35px;
    border: 1px solid #b5bfc7;
    border-radius: 4px;
    text-align: center;

    &-heading {
      font-size: 18px;
    }
    button:first-of-type {
      margin-top: 8px;
      margin-bottom: 12px;
    }
  }
}
