@import 'common/sass/variables';
@import 'common/sass/mixins';

.DW {
  header {
    font-size: 32px;
    font-weight: bold;
    padding: 1em;
    width: 100%;
  }

  &-path {
    margin-bottom: 20px;

    &-select {
      flex: 1;

      small {
        padding-left: 5px;
        opacity: 0.5;
        font-size: 11px;
        @include mono;
      }
    }

    &-custom {
      flex: 1;
      margin-left: $space-md;

      .input-group-input {
        margin: 0;
      }
    }

    &-submit {
      margin-left: $space-md;
      padding-left: $space;
      padding-right: $space;
      border: none;
    }
  }

  &-addresses {
    overflow-y: auto;
    &-table {
      width: 732px;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;

      &-token {
        width: 82px;
        background: color(control-bg);
        color: control(control-color);
      }

      &-address {
        font-size: 13px;
        text-align: left;
        font-family: $font-family-monospace;
        display: flex;
        align-items: center;

        input {
          margin-right: 10px;
        }

        &-select {
          display: flex;
          align-items: center;
        }
      }

      &-more {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('~assets/images/icon-external-link.svg');
      }

      &-na {
        font-size: $font-size-xs;
        opacity: 0.3;
      }

      // Specific selectors to override bootstrap
      tbody {
        tr {
          cursor: pointer;

          label {
            display: block;
            font-family: $font-family-sans-serif;
          }
        }

        td {
          vertical-align: middle;
        }
      }
    }

    &-nav {
      &-btn {
        display: inline-block;
        margin: 0;
        width: 49.9%;
        width: calc(50% - 5px);
        margin: 0 5px;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
