@import 'common/sass/variables';
@import 'common/sass/mixins';

.DW {
  padding: 1rem 0.5rem;

  header {
    width: 100%;
    margin-bottom: 20px;
  }

  &-path {
    margin-bottom: 20px;

    &-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &-select {
      flex: 1;

      small {
        padding-left: 5px;
        opacity: 0.5;
        font-size: 11px;
        @include mono;
      }
    }

    &-custom {
      flex: 1;

      .input-group-input {
        margin: 0;
      }
    }

    &-submit {
      margin-left: $space-md;
      padding-left: $space;
      padding-right: $space;
      border: none;
    }
  }

  &-addresses {
    overflow-y: auto;
    &-table {
      width: 732px;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;

      &-address-select {
        display: flex;
        justify-content: space-between;
      }

      &-more {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('~assets/images/icon-external-link.svg');
      }

      // Specific selectors to override bootstrap
      tbody {
        tr {
          cursor: pointer;

          label {
            display: block;
            font-family: $font-family-sans-serif;
          }
        }

        td {
          vertical-align: middle;
        }
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1.5rem;

      &-page {
        color: #9a978a;
        font-size: 12px;
      }
    }
  }
}

.radio-image {
  cursor: pointer;
}
