.Keystore {
  position: relative;
  &-img {
    display: flex;
    justify-content: center;
    margin: 4em;
  }
  &-help {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2em;
  }
}
