.Keystore {
  position: relative;
  justify-content: center;
  &-img {
    display: flex;
    justify-content: center;
    margin: 2em;


    @media (max-width: 700px) {
      margin: 0.25em; 
    }
  }
  &-help {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;

    @media (max-width: 700px) {
      margin-top: 0.5em; 
    }
  }
  &-password {
    padding-top: 1em;
  }
}
