.Keystore {
  position: relative;
  justify-content: center;
  &-img {
    display: flex;
    justify-content: center;
    margin: 4em;
  }
  &-help {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }
  &-password {
    padding-top: 1em;
  }
}
