.Mnemonic {
  position: relative;

  &-img {
    display: flex;
    justify-content: center;
    margin: 3em;
  }
  &-help {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }

  &-label {
    display: flex;
    height: 22px;
  }

  &-tool-tip {
    float: right;
    margin-left: 5px;
  }
}

.Tool-tip-img {
  padding-left: 5px;
}
