.Mnemonic {
  position: relative;

  &-img {
    display: flex;
    justify-content: center;
    margin: 3em;
  }
  &-help {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 2em;
  }
}
