.Mnemonic {
  position: relative;

  &-img {
    display: flex;
    justify-content: center;
    margin: 3em;
  }
  &-help {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
  }

  &-label {
    display: flex;
    height: 22px;
  }

  &-toolTip {
    float: right;
  }
}
