.SelectNetworkPanel-button {
    width: 420px;
    height: 50px;
    position: absolute; 
    bottom: 2em ; 
}

.SelectNetworkPanel-button-container{
    display: flex; 
    justify-content: center; 
    align-content: center; 

    @media only screen and (max-width: 700px) {
        width: 345px;
        height: 40px;
    }
}

#NetworkPanel-description {
    @media only screen and (max-width: 700px) {
        width: 345px;
        height: 150px;
    }

}