.SelectNetworkPanel-button {
    width: 420px;
    height: 50px;
    position: absolute; 
    bottom: 2em ; 
}

.SelectNetworkPanel-button-container{
    display: flex; 
    justify-content: center; 
    align-content: center; 
}