.PrivateKey {
  position: relative;
  &-img {
    display: flex;
    justify-content: center;
    margin: 4em;
  }
  &-label {
    width: 110px;
    height: 18px;
    font-family: Lato;
    font-size: 15px;
  }
  &-help {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
