.PrivateKey {
  position: relative;
  &-img {
    display: flex;
    justify-content: center;
    margin: 4em;
  }
  &-label {
    height: 18px;
    font-family: Lato;
    font-size: 15px;
    margin-bottom: 10px;
  }
  &-help {
    text-align: center;
    margin-top: 2rem;
  }
}
