.SafeTminiDecrypt {
  text-align: center;

  &-description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    padding-top: 16px;
    justify-content: center;
    text-align: center;
    align-content: center;

    &-footer {
      margin-top: -20px;
    }
  }
  &-img {
    margin: 3em;
  }

  &-unlockButton {
    position: relative;
    width: 420px;
    bottom: -25px;
  }

  &-help {
    margin-top: 10px;
    font-size: 13px;
  }

  &-error {
    opacity: 0;
    transition: none;

    &.is-showing {
      opacity: 1;
    }
  }

  &-buy {
    margin: 10px 0;
  }

  &-message {
    display: flex;
    justify-content: center;
    align-items: center;

    .Spinner {
      margin-right: 16px;
    }
  }
}
