.TrezorDecrypt {
  text-align: center;
  position: relative;
  height: 100%;

  &-description {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
    padding-top: 16px;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  &-img {
    margin: 2em;
  }

  &-help {
    margin-top: 10px;
    font-size: 13px;
  }

  &-error {
    opacity: 0;
    transition: none;

    &.is-showing {
      opacity: 1;
    }
  }

  &-buy {
    margin: 10px 0;
  }

  &-message {
    display: flex;
    justify-content: center;
    align-items: center;

    .Spinner {
      margin-right: 16px;
    }
  }
  &-button {
    width: 417px;
    position: relative;
    bottom: 2em;
    width: 420px;
  }
}
