@import 'common/sass/variables';
@import 'common/sass/mixins';

.ViewOnly {
  width: 425px;
  height: 600px;

  &-title {
    font-size: 32px;
    font-weight: bold;
  }
  &-submit {
    position: relative;
    bottom: -4em;
    width: 420px;
  }
  &-fields {
    display: flex;
    flex-direction: column;
    padding-top: 2em;

    &-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      &:nth-of-type(2) {
        margin-bottom: calc(1rem + 15px);
        font-size: 1.2rem;
      }

      & .AddressField {
        width: 100%;
      }
    }
  }
}
