.TrustWallet-img {
    width: 150px;
    height: 150px;
}

.TrustWallet-container {
    width: 200px;
    height: 200px;
    padding: 10px; 
    text-align: center; 
}

.CoinbaseWallet-container {
    width: 200px;
    height: 200px;
    padding: 10px; 
    text-align: center;
}

.CoinbaseWallet-img {
    width: 150px;
    height: 150px;
}

.Web3-options {
    display: flex; 
    flex-direction: row;
}
    