@import 'common/sass/variables';
@import 'common/sass/mixins';

.Contracts {
  &-header {
    margin: 0;
    text-align: center;

    &-tab {
      @include reset-button;
      color: $ether-blue;

      &:hover,
      &:active {
        opacity: 0.8;
      }

      &.is-active {
        &,
        &:hover,
        &:active {
          color: $text-color;
          cursor: default;
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}
