<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MyCrypto - Ethereum Wallet Manager</title>
    <meta http-equiv="Content-Security-Policy" content="<%= htmlWebpackPlugin.options.metaCsp %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.appDescription %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.appUrl %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.appDescription %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:type" content="<%= htmlWebpackPlugin.options.type %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.twitter.site %>" />
    <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.twitter.creator %>" />
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.image %>" />
    <meta name="google-site-verification" content="dRWkvANAUNAhNyMnTyc7M7S3lnucotMY8j8R-gsZhbo" />
    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <div id="root"></div>

    <noscript class="NoScript">
      <div class="NoScript-content">
        <h2>You Must Enable Javascript to Continue</h2>
        <p>
          MyCrypto requires Javascript to run. There are no security vulnerabilities as a result of
          enabling Javascript on MyCrypto, as we do not load any external scripts such as
          advertisements or trackers.
        </p>
        <p>
          If you are not sure why you are seeing this message, or are unsure of how to enable
          Javascript, please visit
          <a href="https://www.enable-javascript.com/" rel="noopener noreferrer" target="_blank"
            >enable-javascript.com</a
          >
          to learn more.
        </p>
      </div>
    </noscript>

    <div class="BadBrowser" style="display: none;">
      <div class="BadBrowser-content">
        <h2>Your Browser is Out of Date</h2>
        <p class="is-desktop">
          MyCrypto requires certain features that your browser doesn't offer. Your browser may also
          be missing security updates that could open you up to vulnerabilities. Please update your
          browser, or switch to one of the following browsers to continue using MyCrypto.
        </p>
        <p class="is-desktop">
          If you're using the Brave Browser, please ensure that you are not blocking all cookies.
          You may block 3rd-party cookies, but MyCrypto will not function properly if all cookies
          are blocked.
        </p>
        <p class="is-mobile">
          MyCrypto requires certain features that your browser doesn't offer. Please use your
          device's default browser, or switch to a laptop or desktop computer to continue using
          MyCrypto.
        </p>
        <div class="BadBrowser-content-browsers is-desktop">
          <a
            class="BadBrowser-content-browsers-browser firefox"
            href="https://www.mozilla.org/en-US/firefox/new/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <span class="BadBrowser-content-browsers-browser-name"> Firefox </span>
          </a>
          <a
            class="BadBrowser-content-browsers-browser chrome"
            href="https://www.google.com/chrome/browser/desktop/index.html"
            rel="noopener noreferrer"
            target="_blank"
          >
            <span class="BadBrowser-content-browsers-browser-name"> Chrome </span>
          </a>
          <a
            class="BadBrowser-content-browsers-browser opera"
            href="https://www.opera.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <span class="BadBrowser-content-browsers-browser-name"> Opera </span>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
