@import 'common/sass/mixins.scss';

.OnboardingModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 400px;

  &-top {
    @include baby-blue;
    @include perfectly-centered;

    flex: 1;

    img {
      transform: scale(0.5);
    }
  }
  &-side {
    @include baby-blue;
    @include perfectly-centered;

    display: none;
    flex: 1;
    flex-direction: column;

    &-top {
      @include perfectly-centered;

      flex: 1;

      img {
        width: auto;
        height: 30px;
      }
    }
    &-content {
      @include perfectly-centered;

      flex: 3;
      padding: 2rem;
    }
    &-bottom {
      @include perfectly-centered;

      flex: 1;
    }
  }
  &-content {
    position: relative;
    flex: 5;
  }
  &-bottom {
    @include baby-blue;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;

    img {
      width: auto;
      height: 70px;
    }
    section {
      @include perfectly-centered;

      flex: 1;
    }
  }
  @media (min-width: 600px) {
    flex-direction: row;

    &-top,
    &-bottom {
      display: none;
    }
    &-side {
      display: flex;
    }
    &-content {
      flex: 2;
    }
  }
  @media (min-width: 820px) {
    &-content {
      flex: 3;
    }
  }
}
