@mixin row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 9px;
}

@mixin word {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 28px;
  padding: 6px 14px;
  border-radius: 1.4px;
  background-color: rgba(122, 129, 135, 0.75);
  color: #fff;

  &:not(:last-of-type) {
    margin-right: 9px;
  }
}

.ConfirmPhrasePanel {
  &-activeWords {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #e5ecf3;
    background: rgba(247, 247, 247, 0.4);

    &-row {
      @include row;

      justify-content: flex-start;

      &-word {
        @include word;
      }
    }
  }
  &-selectableWords {
    margin-bottom: 18px;

    &-row {
      @include row;

      &-word {
        @include word;

        cursor: pointer;
        transition: background-color 0.1s ease-in;

        &.confirmed {
          background-color: #a682ff;
        }
        &.wrong {
          background-color: #ef4747;
        }
      }
    }
  }
  &-next {
    width: 100%;
  }
}
