@import './colors';

$table-cell-padding: $space-sm;
$table-condensed-cell-padding: $space-xs;
$table-bg: transparent;
$table-bg-accent: rgba(0, 0, 0, 0.03);
$table-bg-hover: rgba(0, 0, 0, 0.06);
$table-bg-active: $table-bg-hover;
$table-border-color: transparent;
$table-cell-padding: 0.75rem 1rem;
