.Home {
  display: flex;
  flex-direction: column;

  @media (min-width: 700px) {
    flex-direction: row;
  }
  &-getStarted {
    flex: 1;

    @media (min-width: 700px) {
      order: 1;
    }
  }
  &-copy {
    flex: 1;

    @media (min-width: 700px) {
      margin-right: 1rem;
    }
  }
}
