@import 'common/sass/variables';

.Home {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;

  &-compatibleWallets {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
  }

  &-testimonials {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
  }

  &-downloadApp {
    width: 100%;
    background-color: #163150;
    display: flex;
    justify-content: center;
  }

  &-peaceOfMind {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
}

.LimitedWidth {
  max-width: $screen-xxl;
}
