@import 'common/sass/variables';
@import 'common/sass/mixins';

.BuyAndExchangeOption {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 1rem;
  border: 1px solid shade-dark(0.12);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.12);
  background: color(control-bg);
  border-radius: 4px;
  transition: transform 100ms ease, box-shadow 100ms ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  }
}
