.BannerContainer {
    background-color: #1eb8e7;
    color: 'inherit';
    padding: 15px 10px;
    padding-right: 30px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    a {
      color: white;
      font-weight: 600;
      text-decoration: underline; 
    }  

    > span {
      margin-left: 0.5rem;
    }
    
    // In mobile we let the icon stay top-aligned with the text
    // as screen grows we remove the arbitray value used to align the icon.
    @media (min-width: 850px) {
      align-items: center;
    }

    @media (max-width: 850px) {
      margin-top: 77px;
    }
  }
  