// This contains all of the bootstrap style overrides we do. Files should
// correspond to the bootstrap filename, and be placed in the overrides/ folder
@import "./overrides/alerts";
@import "./overrides/buttons";
@import "./overrides/button-groups";
@import "./overrides/dropdowns";
@import "./overrides/forms";
@import "./overrides/grid";
@import "./overrides/input-groups";
@import "./overrides/type";

// And an override for rc-slider
@import "./overrides/rc-slider";
