@import "common/sass/mixins";

.Tab {
  &-content {
    min-height: 50%;

    &-pane {
      background: #fff;
      min-height: 1.5rem;
      padding: 1.5rem 2rem;
      margin: 0 auto 1rem;
      box-shadow: 0 1px rgba(0, 0, 0, 0.1),
                  0 1px 4px rgba(0, 0, 0, 0.12);
      border-radius: 2px;

      &.is-full-width {
        background: none;
        box-shadow: none;
        padding: 0;
      }
    }
  }
}

.Block {
  @extend .Tab-content-pane;
}
