.SignTransaction-panel {
  width: 500px;
  height: 600px;
  padding-left: 40px;
  padding-right: 40px;
}

.SignTransactionKeystore-title {
  height: 78px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.SignTransactionKeystore-instructions {
  padding-top: 2em;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.SignTransactionKeystore-error {
  color: red;
  text-align: center;
}

.SignTransactionKeystore-without-pass {
  margin-top: 5em;
}

.SignTransactionKeystore-img {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.SignTransactionKeystore-description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.SignTransactionKeystore-footer {
  width: 100%;
}

.SignTransactionKeystore-spinner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.SignTransactionKeystore-button {
  width: 100%;
}

.SignTransactionKeystore-help {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}

.SignTransactionKeystore-referal {
  text-align: center;
  font-size: 16px;
}
