.SignTransactionLedger-title {
  height: 78px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.SignTransactionLedger-instructions {
  padding-top: 2em;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.SignTransactionLedger-without-pass {
  margin-top: 5em;
}

.SignTransactionLedger-img {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.SignTransactionLegder-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.SignTransactionLedger-footer {
  width: 100%;
}

.SignTransactionLedger-button {
  width: 100%;
}

.SignTransactionLedger-help {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}

.SignTransactionLedger-referal {
  text-align: center;
  font-size: 16px;
}
