.SignTransactionMetaMask-panel {
  width: 500px;
  height: 600px;
  padding-left: 40px;
  padding-right: 40px;
}

.SignTransactionMetaMask-title {
  height: 78px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.SignTransactionMetaMask-instructions {
  padding-top: 2em;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.SignTransactionMetaMask-img {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.SignTransactionMetaMask-wrong-address {
  color: red;
  text-align: center;
}
.SignTransactionMetaMask-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.SignTransactionMetaMask-footer {
  width: 100%;
  margin-top: 2em;
}

.SignTransactionMetaMask-button {
  width: 100%;
}

.SignTransactionMetaMask-help {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}
