.SignTransactionSafeT-panel {
  width: 500px;
  height: 600px;
  padding-left: 40px;
  padding-right: 40px;
}

.SignTransactionSafeT-title {
  height: 78px;
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.SignTransactionSafeT-instructions {
  padding-top: 2em;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.SignTransactionSafeT-img {
  display: flex;
  justify-content: center;
  margin: 3em;
}

.SignTransactionSafeT-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.SignTransactionSafeT-footer {
  width: 100%;
}

.SignTransactionSafeT-help {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}
