.SignTransactionWeb3-title {
  font-family: Lato;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

.SignTransactionWeb3-instructions {
  padding-top: 2em;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.SignTransactionWeb3-img {
  display: flex;
  justify-content: center;
  margin: 2em;
}

.SignTransactionWeb3-errors {
  padding: 1em 0em;
}

.SignTransactionWeb3-wrong-address {
  color: red;
  text-align: center;
  word-break: break-all;
}

.SignTransactionWeb3-rejection {
  color: red;
  text-align: center;
}

.SignTransactionWeb3-wrong-network {
  color: red;
  text-align: center;
}

.SignTransactionWeb3-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1em;
}

.SignTransactionWeb3-footer {
  width: 100%;
  margin-top: 2em;
}

.SignTransactionWeb3-button {
  width: 100%;
}

.SignTransactionWeb3-help {
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
}
