@import "common/sass/variables";

.DlWallet {
  &-title {
    margin: $space auto $space * 1.5;
  }

  &-download {
    margin: 0 auto $space * 4;
  }

  &-warning {
    margin: 0 auto $space * 3;
  }
}
