@import "common/sass/variables";

$pw-max-width: 40rem;

.EnterPw {
  &-title {
    margin: $space auto $space * 2.5;
  }

  &-password {
    display: block;
    position: relative;
    max-width: $pw-max-width;
    width: 100%;
    margin: 0 auto $space;

    &-label {
      margin-bottom: $space;
    }

    &-feedback {
      position: absolute;
      bottom: -$space;
      top: 100%;
      text-align: left;
      font-size: $font-size-small;
    }
  }

  &-submit {
    max-width: $pw-max-width;
    margin: $space auto $space * 3;
  }
}
