@import "common/sass/variables";

.EnterPw {
  &-title {
    margin: $space auto $space * 2.5;
  }

  &-password {
    max-width: 40rem;
    margin: 0 auto $space;

    &-label {
      margin-bottom: $space;
    }
  }

  &-submit {
    max-width: 16rem;
    margin: 0 auto $space * 3;
  }
}
