@import 'common/sass/variables';

.GenPaper {
  &-title {
    margin: $space 0 $space;
  }

  &-private {
    max-width: 680px;
    margin: 0 auto $space * 3;
    margin-top: 12px;
    > .input-group-header {
      margin-bottom: 1rem;
      // This selector is an exception, it targets the span returned using `translate`.
      > span {
        font-size: 2rem;
        margin: auto;
      }
    }
  }

  &-paper,
  &-warning {
    margin-bottom: $space * 3;
  }
}
