@import "common/sass/variables";

.GenPaper {
  &-title {
    margin: $space 0 $space;
  }

  &-private {
    margin-bottom: $space * 3;
  }

  &-paper,
  &-warning {
    margin-bottom: $space * 3;
  }
}
