@import 'common/sass/variables';

.tx-modal-address {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  .Identicon {
    margin-right: 1rem;
  }
  &-from,
  &-tkn-contract,
  &-to,
  &-send-amount {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem 0rem;
    &-icon {
      margin-right: 1rem;
    }
    &:first-child {
      margin-top: 0;
    }
    &-content {
      > h5 {
        margin: 0;
        &:first-child {
          margin-right: 16px;
          padding-bottom: 0.25rem;
        }
        &:nth-child(0n + 2) {
          font-family: $font-family-monospace;
          font-weight: 400;
          opacity: 0.54;
        }
      }
    }
  }

  &-tkn-contract {
    &-icon {
      > img {
        transform: scale(0.75);
      }
    }
    &-content {
      > p {
        margin: 0;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.54);
      }
      > a {
        font-family: $font-family-monospace;
        font-weight: 400;
      }
    }
  }

  &-send-amount {
    > img {
      height: 3rem;
      width: 3rem;
      transform: scale(0.75);
    }
  }
}
