@import 'common/sass/variables';

.Amount {
  &-testnet-warn {
    text-align: center;
    margin-bottom: 24px;
  }
  &-send,
  &-fee,
  &-total {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    &-positioning-wrapper {
      width: 100%;
      padding: 0rem 2rem;
      display: flex;
      justify-content: space-between;
      > h5 {
        margin: 0;
      }
    }
  }

  &-total {
    &-positioning-wrapper {
      padding: 1rem 2rem;
      // color: white;
      background-color: rgba($brand-primary, 0.1);
      border-radius: 3px;
    }
  }
}
