@import 'common/sass/variables';

.tx-modal-details {
  margin-top: 1rem;
  &-network-info {
    text-align: center;
    font-weight: 400;
    color: shade-dark(0.5);
  }
  &-button {
    display: block;
    margin: auto;
    padding: 8px 32px;
    border: none;
    border-radius: 2px;
    transition: background-color 300ms;
    background-color: transparent;
    &:hover {
      background-color: shade-dark(0.06);
    }
  }
}
