.tx-modal-amount {
  width: 100%;
  border-collapse: separate;
  padding-top: 1rem;
  padding-bottom: 0;
  &-send,
  &-fee,
  &-total {
    font-size: 1.15rem;
    > td {
      padding: 0.5rem 0;
      text-align: right;
      opacity: 0.54;
      &:first-child {
        text-align: left;
        opacity: 1;
      }
      &:last-child {
        font-size: 90%;
      }
    }
  }

  &-fee {
    > td {
      padding-bottom: 1rem;
    }
  }

  &-total {
    background-image: linear-gradient(to right, #c2cfd6 33%, #fff0 0%);
    background-position: top;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    > td {
      padding-top: 1rem;
      padding-bottom: 1.5rem;
    }
  }
}
