.tx-modal-amount {
  &-send,
  &-fee,
  &-total {
    display: flex;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &-positioning-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-title,
    &-value {
      font-weight: 400;
      margin: 0;
    }
    &-value {
      > span {
        color: rgba(0, 0, 0, 0.54);
        letter-spacing: 1px;
      }
    }
    &-usd {
      margin-left: 8px;
      letter-spacing: 0px;
    }
  }

  &-total {
    &-positioning-wrapper {
      padding: 1rem 0rem;
      padding-bottom: 0;
      background-image: linear-gradient(to right, #c2cfd6 33%, #fff0 0%);
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
  }
}
