$shapeshift-brand: #1d2734;

.ShapeShiftWidget {
  position: relative;
  width: 350px;
  border: 1px solid #e5ecf3;
  border-radius: 3px;
  color: rgb(21, 21, 21);
  background: lighten($shapeshift-brand, 72%);
  box-shadow: 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.12);

  fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;

    &.dark {
      background: $shapeshift-brand;
      color: white;

      .ShapeShiftWidget-input-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      }
      .ShapeShiftWidget-input {
        color: white;
        opacity: 0.7;
      }
    }
    label {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      opacity: 0.7;
    }
    select {
      flex: 1;
      color: rgb(21, 21, 21);
    }
    h2 {
      margin: 0;
      font-size: 38px;
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
    }
  }
  &-controls {
    display: flex;
    align-items: center;
  }
  &-input-wrapper {
    flex: 2;
    display: flex;
    align-items: center;
    min-width: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  &-input {
    flex: 1;
    color: rgb(21, 21, 21);
    padding: 0.1rem 0;
    background: transparent;
    border-style: none;
    font-size: 38px;
    overflow: auto;
    opacity: 1;

    &.smaller {
      font-size: 24px;
    }
    &.smallest {
      font-size: 16px;
    }
    &.uppercase {
      text-transform: uppercase;
    }
  }
  &-button {
    border-radius: 3px;
    background-color: $shapeshift-brand;
    width: 100%;
    color: white;
    transition: background-color 0s ease 0s, opacity 0.5s ease 0s;
    padding: 0.82em 1.2em;
    font-size: 16px;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($shapeshift-brand, 20%);
      color: rgba(255, 255, 255, 0.7);
    }
    &.separated {
      margin-bottom: 1rem;
    }
  }

  .Warning {
    width: 350px;
    margin: 0;
  }
}
