.Support {
  &-button {
    margin: 0.5rem 0;
    width: 100%;
    background: none;
    border: none;
  }
  &-fallback {
    overflow: auto;

    section {
      width: 350px;
    }
    // textarea {
    //   display: block;
    //   width: 100%;
    //   height: 20rem;
    // }
  }
}
